
#mixedSlider {
  position: relative;
  padding-left: 50px;
    padding-right: 50px;
   /* height: 520px;*/
   padding-bottom: 25px;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  width:20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 8px;
}
h3.sample-head {
    height: 100px;
	font-size: 18px;
}
@media (max-width: 991px) {
  #mixedSlider .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-content .item {
    width: 100%;
  }
}
#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-style: italic;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}

#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 75px;
  top: 190px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls button {
    font-size: 40px;
	
  }
  #mixedSlider .MS-controls button {
    font-size: 55px;
}
#mixedSlider3 .MS-controls .MS-left {
    left: 0px;
}
#mixedSlider3 .MS-controls button {
    font-size: 40px;
}
}
#mixedSlider .MS-controls .MS-left {
  left: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-left {
    left: 0px;
  }
}
#mixedSlider .MS-controls .MS-right {
  right: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-right {
    right: -10px;
  }
}
#basicSlider { position: relative; }

#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}

#basicSlider .MS-content .item {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}
@media (max-width: 991px) {

#basicSlider .MS-content .item { width: 25%; }
}
@media (max-width: 767px) {

#basicSlider .MS-content .item { width: 35%; }
}
@media (max-width: 500px) {

#basicSlider .MS-content .item { width: 50%; }
}



#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}




.top-content12{
  position: relative;
}
.right-logo1{
  position: absolute;
    top: 27px;
    right: -43px;
}
.right-logo1 img{
  width: 110px;
}

#mixedSlider h2,h3,p{
    text-align: center;  
}


.Slider_one .item .imgTitle .btn{
padding: 6px 15px;
border: 2px solid #fff;
border-radius: 50px;
font-weight: 900;
background-color: #fab500;
color: #653a2b;
list-style: none;
text-decoration: none;
}

.Slider_one .item .imgTitle .btn:hover{

    background-color: #653a2b;
    color: #fff;
    border: 2px solid #653a2b;
    }


  /*------------------------------------- 2nd slider css -------------------------------------*/
  #mixedSlider2 {
   position: relative;
    padding-left: 50px;
    padding-right: 50px;
   /* height: 520px; */
   padding-bottom: 25px;
  }

  #mixedSlider2 h2,h3,p{
    text-align: center;  
}

  #mixedSlider2 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }

  #mixedSlider2 .MS-content .item {
   display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 8px;
  }

  @media (max-width: 991px) {
    #mixedSlider2 .MS-content .item {
      width: 50%;
    }
  }

  @media (max-width: 767px) {
    #mixedSlider2 .MS-content .item {
      width: 100%;
    }
  }

  #mixedSlider2 .MS-content .item .imgTitle {
    position: relative;
  }

  #mixedSlider2 .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }

  #mixedSlider2 .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }

  #mixedSlider2 .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }

  #mixedSlider2 .MS-controls button {
   position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 75px;
    top: 190px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
  }

  #mixedSlider2 .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  @media (max-width: 992px) {
    #mixedSlider2 .MS-controls button {
      font-size: 30px;
    }
  }

  @media (max-width: 767px) {
    #mixedSlider2 .MS-controls button {
      font-size: 40px;
    }
  }

  #mixedSlider2 .MS-controls .MS-left {
    left: 0px;
  }

  @media (max-width: 767px) {
    #mixedSlider2 .MS-controls .MS-left {
      left: 0px;
    }
  }

  #mixedSlider2 .MS-controls .MS-right {
    right: 0px;
  }

  @media (max-width: 767px) {
    #mixedSlider2 .MS-controls .MS-right {
      right: 0px;
    }
  }

  #basicSlider {
    position: relative;
  }

  #basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
  }

  #basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
  }

  @media (max-width: 991px) {

    #basicSlider .MS-content .item {
      width: 25%;
    }
  }

  @media (max-width: 767px) {

    #basicSlider .MS-content .item {
      width: 35%;
    }
  }

  @media (max-width: 500px) {

    #basicSlider .MS-content .item {
      width: 50%;
    }
  }



  #basicSlider .MS-controls button {
    position: absolute;
  }

  #basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
  }

  #basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
  }

  /* ------------------------------------------3rd slider css--------------------------------- */
  #mixedSlider3 {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    /* height: 520px;*/
	padding-bottom: 25px;
  }
  #mixedSlider3 h2,h3,p{
    text-align: center;  
}

  #mixedSlider3 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }

  #mixedSlider3 .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 8px;
  }

  @media (max-width: 991px) {
    #mixedSlider3 .MS-content .item {
      width: 50%;
    }
  }

  @media (max-width: 767px) {
    #mixedSlider3 .MS-content .item {
      width: 100%;
    }
  }

  #mixedSlider3 .MS-content .item .imgTitle {
    position: relative;
  }

  #mixedSlider3 .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }

  #mixedSlider3 .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }

  #mixedSlider3 .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }

  #mixedSlider3 .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 75px;
    top: 190px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
  }

  #mixedSlider3 .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  @media (max-width: 992px) {
    #mixedSlider3 .MS-controls button {
      font-size: 30px;
    }
  }

  @media (max-width: 767px) {
    #mixedSlider3 .MS-controls button {
      font-size: 40px;
    }
  }

  #mixedSlider3 .MS-controls .MS-left {
    left: 0px;
  }

  

  #mixedSlider3 .MS-controls .MS-right {
    right: 0px;
  }

  @media (max-width: 767px) {
    #mixedSlider3 .MS-controls .MS-right {
      right: 0px;
    }
  }

  #basicSlider {
    position: relative;
  }

  #basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
  }

  #basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
  }

  @media (max-width: 991px) {

    #basicSlider .MS-content .item {
      width: 25%;
    }
  }

  @media (max-width: 767px) {

    #basicSlider .MS-content .item {
      width: 35%;
    }
  }

  @media (max-width: 500px) {

    #basicSlider .MS-content .item {
      width: 50%;
    }
  }



  #basicSlider .MS-controls button {
    position: absolute;
  }

  #basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
  }

  #basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
  }



  /* sidebar click sliderv  */
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 2;
    height: 250px;
    top: 111px;
    right: 0;
    background-color: #fab500;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
	    border: 2px solid #fff;
  }
  
  .sidepanel a {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #653a2b;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    position: fixed;
    top: 280px;
    right: 0px;
    cursor: pointer;
    border: none;
	z-index: 100;
	background-color: transparent;
   
  }

  .sidepanel h6{
      font-size: 20px;
  }
  
  
  .sidepanel .side-font {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    color: #653a2b;
    transition: 0.3s;
    width: 84%;

    justify-content: space-around;
  }
 

  .sidepanel .side-font i{
   float: right;
   margin-top: -30px;

  }

  
  .sidepanel .sidebar_addtocart p{
    border: 2px solid #fff;

    border-radius: 50px;
    font-weight: 600;
    width: 80%;
    text-align: center;
  }

  .sidepanel .sidebar_addtocart .sidebar_2text{
    background-color: #653a2b;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  .sidepanel .sidebar_addtocart .sidebar_2text:hover{
    background-color: #fab500;
    color: white;

  }

  .sidepanel .sidebar_addtocart{
    margin-left: 40px;
    padding: 0!important;
  }
  .sidepanel .Bottom_text{
      display: flex;
  }
  .sidepanel .Bottom_text a{
      margin: 5px;
   font-size: 14px;
}
#mySidepanel .side-font .border_underline{
    border-bottom: 2px solid white;
	margin-top: 10px;
	padding-bottom: 10px;
} 