/*
CSS created by David Oldfield
Brainstorm Design / brainstormdesign.co.uk / david.oldfield@brainstormdesign.co.uk
*/
* {
	outline:none;
}
/*html, body {
	height:100%;
    overflow-x: hidden;
}*/
@media only screen and (max-width: 600px) {
  html, body {
    height:100%;
    overflow-x: hidden;
  }
}
html {
	font-size:16px;
}
body {
	padding:0px;
	margin:0px;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #653a2b;
}
a {
	color:#653a2b;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
    font-weight: 700;
}
a:hover {
	text-decoration: underline;
}
p, p span {
	line-height:160%;
	
}
p span {
	line-height:160%;
	margin-top: 10px;
}
.bold, strong {
    font-weight: 700;
}
input, textarea, select, label {
	font-size:1rem;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #653a2b;
}
h1,h2,h3,h4,h5,h6 {
    padding:0px;
    margin:0px;
    font-weight: 900;
}
#popper {
    position: fixed;
    top:50%;
    left:50%;
    z-index: 999999;
    width: 300px;
    padding:20px;
    background-color: #653a2b;
    text-align: center;
    color: #fff;
    margin-left:-180px;
    margin-top: -120px;
    border:10px solid #3f2218;
    display: none;
}
#popper a {
    color: #fff;
}
#popper:hover {
    cursor: pointer;
}
#upsell {
    position: fixed;
    top:0px;
    left:0px;
    z-index: 999999;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
}
#upsell .inner {
    width: 40%;
    padding:40px;
    background-color: #fab500;
    color: #653a2b;
    text-align: center;
    position: relative;
    z-index: 1;
    border:5px solid #fff;
    border-radius: 30px;
}
#upsell .inner .inner {
    width: auto;
    padding:0px;
    border:none;
}
#upsell .inner h3 {
    font-size: 1.692rem;
}
#upsell img.icon {
    position: absolute;
    left:20px;
    top:20px;
    width: 10%;
    z-index: 2;
    transform: rotate(-35deg);
}
#upsell h2 {
    font-size: 1.154rem;
}
#upsell a.btn.white {
    background-color: #fff;
}
#upsell a.btn.white:hover {
    background-color: #653a2b;
  color: #fff;
    text-decoration: none;
}
#status {
  width: 350px;
  padding: 20px;
  background-color: #653a2b;
  color: #fff;
  position: fixed;
  top: 50%;
  margin-left: -199px;
  left: 50%;
  margin-top: -60px;
  z-index: 999999999999;
  text-align: center;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
    border:4px solid #653a2b;
    border-radius:30px;
}
#status h4 {
  font-weight: 900;
  font-size: 1.538rem;
}
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.c_15 {
    width: 15%;
}
.c_16 {
    width: 16%;
}
.c_20 {
	width: 20%;
}
.c_25 {
	width: 25%;
}
.c_30 {
    width: 30%;
}
.c_32{
	
	width: 33.333333%;
}
.c_33 {
	width: 33.333333%;
}
.c_40 {
    width: 40%;
}
.c_45 {
    width: 45%;
}
.c_50 {
	width: 50%;
}
.c_60 {
    width: 60%;
}
.c_66 {
	width: 66.666666%;
}
.c_70 {
    width: 70%;
}
.c_75 {
	width: 75%;
}
.c_80 {
    width: 80%;
}
.c_85 {
    width: 85%;
}
.c_100 {
	width: 100%;
}
#banner {
    position: relative;
    z-index: 99;
    background-color: #fab500;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
}
#banner.half {
}
#banner:before {
    content: "";
    width: 15%;
    height: 100%;
    z-index: 1;
    
    background-color: #7fc2e5;
    position: absolute;
    left:0px;
    top: 0px;
}
#banner.half:before {
    display: none;
}
#banner img.logo {
    position: absolute;
    left: 5%;
    max-width: 20%;
    max-height: calc(100% - 80px);
    top:40px;
    z-index: 4;
}
#banner.half img.logo {
    position: absolute;
    left: 5%;
    max-width: none;
    max-height: none;
    height:85px;
    top: 10px;
    z-index: 4;
}
#banner img.advert {
    width: 85%;
    display: block;
    position: relative;
    z-index: 1;
    margin-left:15%;
    margin-bottom: -10px;
}
#banner img.advert.mobile {
    display: none;
}
.main_menu {
    position: absolute;
    right: 5%;
    width: 22.5%;
    top:90px;
}
.main_menu ul {
    padding:0px;
    list-style: none;
    margin:0px;
}
.main_menu ul li {
    width: 50%;
    margin:0px;
}
.main_menu li a {
    display: block;
    width: calc(95% - 20px);
    padding:5px 10px;
    margin:0px;
}
.main_menu li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #653a2b;
    border-radius: 50px;
}
.cart_wrap {
    display: inline-block;
    margin-right:20px;
    color: #fff;
    border:2px solid #fff;
    padding: 6px 15px 6px 45px;
    border-radius: 50px;
    background-image: url("/images/icon-paw.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: auto 80%;
    font-weight: 500;
    text-align: center;
}
.code_block {
    padding:70px 20px 20px 20px;
    background-color: #efefef;
    border-radius:20px;
    background-image: url("/images/icon-paw-brown.png");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: auto 40px;
    text-align: center;
}
.code_block.msg {
    text-align: left;
    padding-top:20px;
    background-position: 95% 20px;
    padding-right:70px;
    margin-right:20px;
}
.code_block strong {
    font-size: 2rem;
}
.nav a.btn {
    display: inline-block;
}
.hook {
    margin-left:28.5%;
    color: #fff;
    font-size: 4.154rem;
    max-width: 25%;
    position: relative;
    z-index: 1;
}
.half .hook {
    margin-left:20%;
    max-width: 50%;
    font-weight: 900;
    position: absolute;
    top:50%;
    left:0;
    z-index: 99;
    margin-top: -47px;
}
.hook img.arrow {
    position: absolute;
    right:-15%;
    top:20%;
    z-index: 9;
    width: 65%;
}
.hook p img {
    max-width: 65%;
}
.hook p {
    font-size: 1.231rem;
    margin-top:0px;
    padding-top:0px;
    font-weight: 300;
}
ul li {
    margin-bottom: 8px;
}
.nav {
    /*text-align: right;
    position: absolute;
    right:5%;
    top: 40px;*/
    position: relative;
    right: 0;
    padding-right:5%;
    top:0px;
    padding:15px 5% 10px 0px;
    text-align: right;
    z-index: 99;
    
}
.half .nav {
    position: relative;
    right: 0;
    padding-right:5%;
    top:0px;
    padding:15px 5% 10px 0px;
    background-color: #7fc2e5;
    z-index: 1;
}
.half .headline {
    display: block;
    padding:40px 5% 20px;
}
.headline p {
    font-weight: 500;
    padding:0px;
    margin:0px;
}
.headline .c_75 {
    margin:10px auto;
}
.headline .c_75 p {
    font-size: 1.154rem;
    font-weight: 300;
}
.nav ul {
    padding:0px;
    margin:0px;
    list-style: none;
    text-align: left;
    align-content: flex-end;
    align-items: flex-end;
}
.half .nav ul {
    width: 39.5%;
    margin-left: 60.5%;
    text-align: right;
}
.nav ul li {
    display: block;
    text-align: right;
    width: 100%;
}
.nav a {
    color: #fff;
}
.nav button {
    width:35px;
    height:35px;
    border:2px solid #fff;
    border-radius:50px;
    display: inline-block;
    background: none;
    margin-left:5px;
    background-image: url("/images/icon-menu.png");
    background-position: center;
    background-size: 60% 40%;
    background-repeat: no-repeat;
}
.btn {
    display: block;
    padding:6px 15px;
    border:2px solid #fff; 
    border-radius:50px;
    font-weight: 900;
}
.nav a.btn, .shop a.btn {
    background-color: #fab500;
}
a.btn.brown, .shop a.btn:hover {
    border:2px solid #653a2b;
    background-color: #653a2b;
    color: #fff;
    text-decoration: none;
}
a.btn.brown:hover, .introduction a.btn {
    text-decoration: none;
    background-color: #f0b736;
    border:2px solid #f0b736;
}
a.btn.blue {
    color: #7fc2e5;
    border:2px solid #7fc2e5;
    font-weight: 500;
}
a.btn.blue:hover {
    text-decoration: none;
    color: #fff;
    background-color: #7fc2e5;
}
a.btn.red {
    background-color: #c00;
    color: #fff;
    border:2px solid #c00;
}
.nav a:hover {
    border:2px solid #653a2b;
    background-color: #653a2b;
    text-decoration: none;
}
.nav a.basket:hover {
    background: none;
    border:none;
}
a .cart_wrap {
    background-color: #653a2b;
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
a:hover .cart_wrap {
    background-color: #f0b736;
}
.strapline {
    background-color: #653a2b;
    color: #fff;
    padding: 0px;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.strapline a {
    padding:10px;
    display: block;
    color: #fff;
}
.strapline a:hover {
    background-color: #f0b736;
    color: #653a2b;
    text-decoration: none;
}
section {
    padding:30px 5%;
    position: relative;
    z-index: 1;
}
#video {
    background-color: #efefef;
    text-align: center;
    padding:30px 5%;
    display: none;
    margin-bottom: 40px;
}
#video video {
    margin:0px auto;
    max-width: 100%;
}
.videos img {
    display: block;
    width: 100%;
}
.videos a, a.video_link {
    position:relative;
    z-index: 1;
    display: block;
}
.videos a span, a.video_link span {
    display: block;
    position: absolute;
    bottom: 0px;
    right:0px;
    z-index: 99;
    width: 60px;
    height:60px;
    background-color: #653a2b;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/icon-play.png");
}
a.video_link {
    max-width: 500px;
    margin:20px auto;
    display: inline-block;
}
a.video_link img {
    display: block;
    width: 100%;
}
#feefo_wrapper {
    display: block;
    margin:0px auto;
    text-align: center;
}
.feefo-review-carousel-widget-service {
    margin:0px auto!important;
}
.no_bottom_pad {
    padding-bottom:0px!important;
}
.no_top_pad {
    padding-top:0px!important;
}
.content {
    padding:0px;
}
.content_block .c_25 img {
    width: 100%;
    display: block;
}
.start {
    justify-content: center;
}
.start a {
    text-align: center;
    margin:0px 10px;
    font-weight: 900;
}
.introduction {
    text-align: center;
    /*padding:0px 10%;*/
}
.start a.btn {
    font-size: 1.692rem;
}
.c_60 .start a.btn {
    font-size: 1.231rem;
}
.c_60 .start {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.start a.btn {
    display: inline-block;
    padding:10px 60px;
}
.introduction h1 {
    font-size: 2.385rem;
    margin-bottom: 10px;
    margin-top:30px;
    font-weight: 900;
}
.introduction h2, .introduction h3, .introduction p {
    font-size: 1.6rem;
}
.introduction p {
    font-weight: 500;
    padding:0px;
    margin:0px;
}
.introduction a.btn {
    display: inline-block;
    padding:5px 30px;
    margin-top:5px;
    border:2px solid #653a2b;
    
}
.introduction a.btn:hover {
    background-color: #653a2b;
    color: #fff;
}
.blue_bg {
    background-color:#daedf7;
    padding-left: 5%;
    padding-right: 5%;
}
.light_blue {
    background-color: #cee6f3!important;
}
#more_about {
    text-align: center;
    background-color: #e9f2f7;
    padding:30px 0px;
}
.centre {
    text-align: center;
}
.centre .c_60 {
    margin: 0px auto;
}
.negative {
    margin-left:-20px;
    margin-right:-20px;
}
.negative .inner {
    margin:0px 20px;
}
.options {
    margin-top:30px;
}
.options img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}
.options .block {
    position: relative;
    z-index: 1;
    text-align: left;
}
.options .block p {
    position: absolute;
    top: 0px;
    left:0px;
    width: 80%;
    z-index: 99;
    padding:10px 10%;
    color: #fff;
    font-weight: 700;
    font-size: 1.231rem;
    line-height: 150%;
    margin:0px;
}
.options .inner {
    text-align: left;
}
h2 {
    font-size: 1.8231rem;
}
.options ul.opts, .options ul {
    padding:0px;
    margin:20px 0px 0px 0px;
    list-style: none;
}
.options ul:not(.opts) {
    list-style: disc;
    margin-left:15px;
	font-size: 14px;
	font-weight: 500;
}
.options .opts li a {
    border-radius: 50px;
    border:2px solid #fff;
    padding:8px 15px;
    color: #653a2b;
    margin-bottom: 14px;
    background-color: #f0b736;
    font-weight: 900;
    font-size: 1.231rem;
}
.options .opts li a:hover {
    background-color: #653a2b;
    color: #fff;
    text-decoration: none;
}
.options .opts li a {
    text-align: center;
    display: block;
}
.options a.btn {
    font-size: 1.538rem;
    font-weight: 900;
}
p.small {
    font-size: 0.8231rem;
}
h3.subtitle {
    display: block;
    background-color: #653a2b;
    color: #fff;
    font-weight: 300;
    text-align: center;
    padding:10px 10px;
    font-size: 2rem;
}
h4.subtitle {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.hub {
    padding:30px 5%;
}
.hub .c_100, .hub .c_50 {
    
}
.hub img {
    display: block;
    width: 100%!important;
    max-width: 100%!important
}
.hub .inner {
    padding:0px;
    margin:5px 5px!important;
    background-color: #fab500;
    position: relative;
    z-index: 1;
    color: #fff;
}
.hub .negative {
    margin-left:-5px;
    margin-right:-5px;
}
.hub .c_100 .inner {
    background-image: url("/images/bg-lab.jpg");
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.hub h4 {
    font-weight: 900;
    color: #653a2b;
    font-size: 3.154rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right:25%;
}
.hub p {
    font-weight: 700;
    font-size: 2rem;
    padding:0px;
    margin:0px;
}
.hub h4 span, #menu h3 span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    padding:0px 0px 0px 85px;
}
.hub ul {
    padding:0px;
    margin:15px 0px 30px 15px;
    color: #653a2b;
    font-weight: 500;
    font-size: 1.231rem;
    width: 70%;
}
.hub li {
    width: 50%;
}
#menu h3 span {
    padding:0px 0px 0px 50px;
}
#menu h3 {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.hub h4 span img, .half span img, #menu h3 span img, .headline h1 span img {
    position: absolute;
    left: 0px;
    top:-5px;
    z-index: 1;
    width: 80px;
}
.headline h1 {
    font-size: 3rem;
    margin-top:15px;
}
#menu h3 span img {
    width: 45px;
    top:-5px;
}
.subnav {
    text-align: right;
    border-bottom: 1px solid #fff;
    padding:20px 5% 10px 5%;
    position: relative;
    z-index: 2;
}
/*.subnav.home {
    position: absolute;
    top:30px;
    right:160px;
    z-index: 99;
    width: calc(90% - 160px);
    border:none;
}*/
.subnav.home {
    padding-top:0px;
}
.subnav ul li {
    font-size: calc(0.64vw + 0.64vh + 0.3vmin);
    position: relative;
    z-index: 1;
}
.subnav #dropdown {
    position: absolute;
    top:100%;
    left:0px;
    width: 300px;
    z-index: 99;
    background-color: #653a2b;
    color: #fff;
    padding:17px 0px 0px 0px;
    display: none;
}
.subnav #dropdown a {
    display: block;
    width: calc(100% - 20px);
    text-align: left;
    padding:7px 10px;
    color: #fff;
}

.subnav img {
    width: 30px;
}
.subnav ul {
    padding:0px;
    margin:0px;
    list-style: none;
    justify-content: space-between;
    width: 80%;
    margin-left:20%;
}
.subnav ul.onav {
    width: 60%;
    margin-left: 40%;
}
.subnav a {
    display: inline-block;
    padding:5px 10px;
}
.subnav a:hover, .subnav a.active {
    background-color: #653a2b;
    color: #fff;
    text-decoration: none;
}
.subnav li a.home_button {
    padding:0px;
}
.subnav li a.home_button:hover {
    background: none;
}
.subnav #dropdown a:hover {
    background-color: #fab500;
    color: #653a2b;
}
.half span img {
    top:0px;
}
img.arrow {
    position: absolute;
    right:-30px;
    width: 24%;
    z-index: 99;
    top:0px;
}
.hub .c_50 .inner {
    padding:0px;
    position: relative;
    z-index: 1;
}
.hub .c_50 img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}
.hub a.btn {
    display: inline-block;
    padding: 6px 40px;
    font-size: 1.385rem;
}
.hub .c_50 p {
    display: block;
    padding-right: 25%;
}
.hub .c_50 a.btn {
    position: absolute;
    left:40px;
    bottom: 20px;
    z-index: 5;
}
.actions img {
    display: block;
    width: 100%;
}
.actions .inner {
    margin:10px;
}
.actions.negative {
    margin-left:-10px;
    margin-right:-10px;
}
.footer {
    padding:30px 5% 70px 5%;
    font-size: 0.9231rem;
    position: relative;
    z-index: 1;
    
}
.footer:before {
    content: "";
    position: absolute;
    left:5%;
    width: 90%;
    top:0px;
    z-index: 9;
    border-top: 1px solid #ddd;
}
.footer .c_66 img {
    max-width: 15%;
    margin-right:30px;
}
.footer img.logo, .footer .c_33 img {
    /*max-width: 75%;*/
    max-height: 120px;
    max-width: none;
    margin-top:15px;
}
.footer .c_33 img, .footer .c_15 img {
    max-height: 110px;
     max-width: 100%;
}
.footer .c_15 img {
    max-width: none;
   /*border:1px solid #ccc;*/
    padding:5px;
    margin-top:15px;
}
.footer h5 {
    margin-top:20px;
    font-size: 1.538rem;
}
.footer .c_15 span {
    font-size: 0.8231rem;
}
h5.socials img {
    width: 30px;
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 10px;
}
.footer form {
    display: flex;
}
.footer input[type=text] {
    width: calc(70% - 22px);
    padding:8px 10px;
    border:1px solid #653a2b;
    border-radius:30px 0px 0px 30px;
}
.footer input[type=submit] {
    background-color: #653a2b;
    color: #fff;
    padding:8px 5px;
    width: calc(30% - 10px);
    border:none;
    text-transform: uppercase;
    border-radius:0px 30px 30px 0px;
}
img.mobile {
    display: none;
}
img.non_mobile {
    display: block;
    width: 100%!important;
    max-width: 100%!important;
}
#container {
    background-color:#daedf7;
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
#container:before {
    content: "";
    width: 100%;
    height: 110px;
    z-index: 98;
    
    background-color: #7fc2e5;
    position: absolute;
    left:0px;
    top: 0px;
}
#container img.logo {
    position: absolute;
    top: 10px;
    left:5%;
    z-index: 99;
    width: 150px;
}
#container section {
    position: relative;
    z-index: 97;
    padding:100px 10%;
    min-height:calc(100% - 200px);
}
#container section.products {
    padding-left: 5%;
    padding-right:5%;
}
#container section.process {
    min-height: calc(100vh - 310px);
    padding:150px 10%;
    margin:0px;
}
#container p {
    font-size: 1.385rem;
}
#container .cart_wrap {
    margin-right: 0px;
}
#container .nav {
    padding-top:35px;
}
.percentage {
    padding-top:25px;
    margin:0px 20% 30px 20%;
    position: relative;
    z-index: 1;
}
.bar {
    height:5px;
    display: block;
    background-color: #fab500;
    position: relative;
    z-index: 1;
    
}
.percentage span {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.percentage .bar span {
    right: auto;
    left:0px;
    width: 0%;
    height: 100%;
    background-color: #653a2b;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
    /* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}
.process a {
    font-weight: 700;
}
.justify {
    justify-content: center;
}
.justify .c_100 a {
    width: 40%!important;
    margin-left:auto!important;
    margin-right:auto!important;
    padding:10px 20px!important;
    margin-bottom: 15px!important;
}

.process h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 15px;
}
form[name=mailing] {
    width: 50%;
    margin:30px auto;
}
.process input[type=text], .process input[type=number], .process select, form[name=mailing] input[type=text], form[name=mailing] input[type=date]{
    width: 40%;
    border:2px solid #653a2b;
    text-align: center;
    padding:10px 20px;
    border-radius:50px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.385rem;
}
.process input[name=stones], .process input[name=lbs] {
    width:26%;
    margin:0px 10px;
}
form[name=mailing] input[type=text], form[name=mailing] input[type=date]{
    width: 75%;
}
.process input[name=breeds], .process input[name=crossbreed] {
    display: none;
}
.process input[name=first], .process input[name=surname] {
    width: 30%;
}
.process select {
   width: 25%;
}
.process input[type=submit], form[name=mailing] input[type=submit]{
    border:2px solid #fff;
    background-color: #653a2b;
    color: #fff;
    padding:10px 20px;
    border-radius:50px;
    font-weight: 900;
    font-size: 1.385rem;
    width: 25%;
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
    
}
form[name=mailing] input[type=submit]{
    width: 50%;
}
.process input[type=submit]:hover, form[name=mailing] input[type=submit]:hover {
    background-color: #f0b736;
    cursor: pointer;
    border:2px solid #653a2b;
}
.process a.btn {
    display: block;
    margin:20px 10px 10px 10px;
    background-color: #fff;
    border:2px solid #653a2b;
    padding:10px 10px;
    font-size: 1.231rem;
}
.process a.btn:hover, .process a.btn.active {
    text-decoration: none;
    background-color: #f0b736;
}
.process label {
    font-weight: 900;
    margin-top:10px;
    display: block;
    font-size: 1.154rem;
}
.process .c_20 input[type=submit] {
    width: 75%;
}
.buttons {
    margin-top:40px;
}
.buttons .c_20 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.process a.btn span {
    font-weight: 500;
    font-size: 1rem;
}
.inner_opt, #note {
    display: none;
}

.recommend, .process {
    position: relative;
    z-index: 1;
}
#loader {
    position: fixed;
    top:0px;
    left:0px;
    width: 90%;
    padding:30px 5%;
    height: calc(100vh - 60px);
    background-color:#daedf7;
    z-index: 9999999;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#loader div {
    padding-bottom: 150px;
}
#loader h1 {
    font-size:2.235rem;
}
#opts {
    position: fixed;
    top: 0px;
    right:0px;
    z-index: 99;
    width: 20%;
    display: none;
}
.sizes img {
    max-width: 35%;
}
.food img {
    width: calc(100% - 44px);
    padding:20px 10px;
    background-color: #fff;
    border: 2px solid #653a2b;
    border-radius: 50px;
    margin:0px 10px 10px 10px;
}
.sizes p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 5%;
    padding-right:5%;
}
.sizes a.btn {
    margin-top:5px;
}
form[name=login] .flex, form[name=password] {
    justify-content: center;
    max-width: 50%;
    margin:0px auto;
}
form[name=password] {
    display: none;
}
.login_check form[name=password] {
    max-width: 100%;
}
form[name=login] label, form[name=login] input[type=text], form[name=login] input[type=password] {
    display: block;
    margin-bottom:15px;
}
form[name=login] input[type=text], form[name=login] input[type=password], form[name=password] input[type=text] {
    border:1px solid #aaa;
    padding:10px 40px 10px 20px;
    width: calc(100% - 62px);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: auto 70%;
    border-radius:50px;
}
form[name=login] input[type=text], form[name=password] input[type=text] {
    background-image: url("/images/icon-email.png");
}
form[name=login] input[type=password] {
    background-image: url("/images/icon-password.png");
}
form[name=login] label {
    font-weight: 700;
    padding:7px 20px;
    margin-bottom:5px;
}
form[name=login] input[type=submit], form[name=contact] input[type=submit], form[name=password] input[type=submit]{
    background-color: #f0b736;
    width:calc(60% - 4px);
    border: 2px solid #653a2b;
    border-radius: 50px;
    padding:8px 20px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1.154rem;
    margin-top:15px;
}
form[name=login] input[type=submit]:hover, form[name=contact] input[type=submit]:hover, form[name=password] input[type=submit]:hover {
    background-color: #653a2b;
    cursor: pointer;
    color: #fff;
}
form[name=contact] h3 {
    font-size: 2rem;
    margin:15px 0px 20px 0px;
}
form[name=contact] input[type=text], form[name=contact] textarea {
    display: block;
    border:1px solid #653a2b;
    padding:8px 10px;
    width: calc(100% - 22px);
    margin-bottom: 5px;
}
form[name=contact] textarea {
    min-height: 100px;
}
#menu {
    background-color: #efefef;
    padding:40px 0px;
    width: 100%;
    height:calc(100% - 80px);   
}
#menu ul {
    margin:0px;
    padding:0px;
    list-style: none;
    border-top:1px solid #fff;
}
#menu li {
    margin-bottom: 0px;
}
#menu ul a {
    display: block;
    padding:10px 20px;
    border-bottom: 1px solid #fff;
    border-right:5px solid #efefef;
}
#menu ul a:hover {
    background-color: #653a2b;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-right: 5px solid #f0b736;
}
#menu h3 {
    display: block;
    padding:0px 20px;
}
#menu p {
    padding:20px;
    margin:0px;
}
.box {
    padding:40px 6%;
}
.autocomplete-suggestions {
	border: none;
	background: #653a2b;
	cursor: default;
	overflow: auto;
	text-align: left
}
.autocomplete-suggestion {
	padding: 5px 10px;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	color: #ccc;
	text-align: left
}
.autocomplete-no-suggestion {
	padding:5px 10px;
	color: #fff;
}
.autocomplete-selected {
	background: #f0b736;
	color: #653a2b
}
.autocomplete-suggestions strong {
	font-weight: 400;
	color: #fff
}
.autocomplete-selected strong {
	color: #fff
}
.news_item {
    margin:0px 5px 10px 20px;
    border:1px solid #653a2b;
}
.news_item img {
    width: 100%;
    display: block;
}
.title-height {
    height: 60px;
}
.news_item .desc {
    padding:12px;
	    background: #fff;
		height: 182px;
}
.article p.date {
    display: block;
    text-align: center;
    padding:4px 10px;
    margin:10px;
    border:2px solid #7fc2e5;
    border-radius: 30px;
}
.news_item p.date {
    color: #aaa;
    font-size: 0.9231rem;
    padding:5px 0px 0px 0px;
    margin:0px;
}
.news_item a:hover {
    text-decoration: none;
    color: #7fc2e5;
}
.article {
    margin-left:-10px;
    margin-right:-10px;
}
.article .inner {
    margin:0px 10px;
    height: 100%;
}
.article img {
    display: block;
   width: 100%;
    margin-bottom: 30px;
}
.article img.arrow {
    width: 20%;
    position: relative;
    z-index: 1;
}
.article p.date {
    display: block;
    margin-left:0px;
    padding:6px 50px;
    margin-bottom: 20px;
    min-width: 200px;
    margin-top:0px;
    margin-right:0px!important;
}
.article p.intro {
    font-weight: 500;
}
.featured {
    background-color: #7fc2e5;
    color: #fff;
    text-align: left;
}
.featured h3 {
    display: block;
    padding:20px 30px;
    font-size: 1.892rem;
}
.featured p {
    padding:15px 30px;
    margin:10px 0px 0px 0px;
}
.featured p span {
    display: inline-block;
    padding:6px 20px;
    border-radius:30px;
    border:2px solid #fff;
}
.featured img {
    display: block;
    width: 100%;
    margin-bottom: 10px; 
}
.article a.btn {
    font-weight: 500;
    display: block;
    border:2px solid #653a2b;
    padding:9px 50px;
    text-align: center;
    min-width: 200px;
}
.article .c_30 {
    text-align: right;
}
.article .c_70, .article .c_30 {
    margin-bottom: 20px;
}
#quick_blog h2 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
#breadcrumbs ul {
    padding:0px;
    margin:0px;
    list-style: none;
}
#breadcrumbs ul li {
    margin-right:10px;
    margin-bottom: 0px;
}

.product {
    color: #653a2b;
}
.product img {
    display: block;
    width: 100%;
    
    position: relative;
    z-index: 1;
}
.main_img {
    position: relative;
    z-index: 1;
    margin-left: 0%;
    width: 95%;
    margin-bottom: 30px;
    margin-top:25px;
}
.sticker {
    width: 23%;
    position: absolute;
    top: 21%;
    right: 24%;
    z-index: 99;
}
.sticker img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}
.sticker span {
    position: absolute;
    top:59%;
    left:0px;
    width: 100%;
    text-align: center;
    z-index: 9;
    font-size: calc(0.8vw + 0.8vh + 0.4vmin);
    font-weight: 900;
}
.product .c_50:first-child h5 {
    font-size: 1.538rem;
}
.product .c_50:first-child p {
}
.purchase {
    margin-top:30px;
    padding:20px;
    background-color: #dfeff8;
}
.mixed {
    background-image: url("/images/icon-information.png");
    background-repeat: no-repeat;
    background-position: 95% 20px;
    background-size: 15% auto;
    padding-right:20%;
}
.details {
    padding:20px;
}
.details h4 {
    margin-top:30px;
    font-size: 1.385rem;
}
.product h1 {
    font-size: 2rem;
}
.purchase h5 {
    font-size: 1.231rem;
}
.purchase .flex .flex span.nug {
    display: inline-block;
    width: 40px;
    height:40px;
    background-color: #fff;
    border-radius:50px;
    overflow: hidden;
    text-indent: -9999px;
    background-position: center;
    background-size: 80% 80%;
}
.purchase.smaller .flex .flex span.nug {
    width: 30px;
    height:30px;
}
.purchase .flex .flex span.nug:hover {
    background-color: #cee6f3;
}
.purchase .flex .flex {
    align-content: center;
    align-items: center;
    margin-top:10px;
}
.purchase .flex .flex div:nth-child(2){
    font-size: 1.538rem;
    font-weight: 500;
    text-align: center;
}
.purchase.smaller .flex .flex div:nth-child(2){
    font-size: 1.385rem;
}
.purchase .flex .flex div:nth-child(1) span {
    background-image: url("/images/icon-minus.png");
}
.purchase .flex .flex div:nth-child(3) span {
    background-image: url("/images/icon-plus.png");
}
.purchase #qty {
    width: 20px;
    display: inline-block;
    text-align: center;
}
.purchase .disclaimer {
    font-size: 0.8231rem;
}
.purchase select {
    background-color: #fff;
    width:calc(100% - 20px);
    padding:6px 10px;
    border:2px solid #653a2b;
    border-radius:40px;
    margin-top:15px;
}
#base, #product, #min_days, #max_days, #weight, #min_cost, #max_cost, #stock, #me, #grams {
    display: none;
}
.qty {
    margin-left:30px;
}
.saver {
    margin-left:10px;
}
.repeat a, .purchase input[name=submit] {
    font-size: 1rem;
    display: block;
    padding:10px 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    border:2px solid #653a2b;
}
.repeat {
    margin-bottom: 20px;
}
.repeat a:hover, .repeat a.active {
    background-color: #653a2b;
    color: #fff;
    text-decoration: none;
}
.purchase input[name=submit]{
    width:100%;
    font-weight: 700;
    background-color: #653a2b;
    color: #fff;
    font-size: 1.385rem;
}
.purchase input[name=submit]:hover {
    background-color: #f0b736;
}
.purchase.smaller input[name=submit]{
    font-size: 1rem;
    padding: 4px 10px;
    margin-top:10px;
	width: 124px;
}
p.bubble {
    padding:6px 10px;
    background-color: #fff;
    display: block;
    border-radius:30px;
    width: 70%;
    border:2px solid #653a2b;
    margin:10px 0px 0px 0px;
}
p.price, p.save {
    font-weight: 700;
    font-size: 2rem;
    margin:10px 0px 15px 0px;
    padding:0px;
}
.breaker {
    height:2px;
    background-color: #fff;
    margin-bottom: 10px;
}
ul.tabs {
    width: 100%;
    padding:0px;
    list-style: none;
    position: relative;
    z-index: 2;
    margin-bottom: 0px
}
ul.tabs li {
    flex:1;
    margin:0px 0px 0px 0px;
    border-bottom:2px solid #6f8693;
}
ul.tabs li a {
    display: block;
    padding:20px;
    border:2px solid #6f8693;
    border-width: 2px 2px 0px 2px;
    border-radius: 20px 20px 0px 0px;
    font-size: 1.231rem;
}
ul.tabs li.active a, ul.tabs li a:hover {
    background-color: #cee6f3;
    text-decoration: none;
}
.benefits {
    margin-top:20px;
    width: 90%;
}
.benefits img {
    display: block;
    width: 80%;
    position: relative;
    z-index: 1;
    margin:0px auto;
}
.benefits span {
    display: inline-block;
    position: relative;
    z-index: 1;
}
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
img.wizard {
    display: block;
    margin-top:30px;
}
#info {
    padding:40px 20px;
    border:2px solid #6f8693;
    border-width: 2px 2px 2px 2px;
    position: relative;
    z-index: 1;
    margin-top:-2px;
    background-color: #fff;
}
.sector {
    display: none;
}
#info .sector:first-child {
    display: block;
}
.sector table {
    width: 90%;
    border:1px solid #653a2b;
    border-width: 1px 1px 0px 1px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}
.sector table th {
    background-color: #653a2b;
    color: #fff;
    font-size: 1.154rem;
    padding:10px;
}
.sector table td {
    padding:5px 10px;
    border-bottom:1px solid #653a2b;
}
.ingredients {
    width: 90%;
    margin-top: 25px;
}
.ingredients .c_20, .ingredients .c_80 {
    padding-bottom: 20px;
}
.related, .product_list {
    text-align: center;
    padding:30px;
    margin-top:30px;
}

.related h3, .recommended h3 {
    font-size: 2rem;
    display: block;
    text-align: center;
}
.recommended h3 {
    margin-bottom: 30px;
}
.recommended .flex {
    justify-content: center;
}
.product_list .flex {
    margin-top:50px;
    margin-right:5%;
    margin-left:5%;
}
.related h3 a {
    font-weight: 900;
    font-size: 1.385rem;
}
.related img {
    display: block;
    width: 75%;
}
.related li a.btn {
    display: block;
    
     background-color: #fff;
    max-width: 70%;
    margin:10px auto;
}
.related .product_img {
    border:none;
}
.shop .product_img {
    background-color: #fff;
}
.shop .intro_text {
    display: block;
}
.product_list .inner {
    margin:0px 10px;
}
.profile {
    background-color: #653a2b;
    color: #fff;
    border-radius:15px;
    padding:40px;
    margin-top:10px;
    background-image: url("/images/icon-paw.png");
    background-repeat: no-repeat;
    background-position: 95% 40px;
    background-size: 40px auto;
}
.profile h2 {
    margin-bottom: 15px;
}
.glide {
  position: relative;
  width: 100%;
  height: 100%;
    overflow: hidden;
}
.glide__wrapper {
  overflow: hidden;
}
.glide__track {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
      touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
    margin:0px;
}
.glide__track.dragging {
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide__slide {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
 
}
.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    display: none;
}
.related .glide__arrows, .product_list .glide__arrows {
    display: block;
}
.related .inner {
    margin:0px 20px!important;
}
.related .flex {margin-top:40px;}
.glide__arrow {
  cursor: pointer;
    width:60px;
    height: 60px;
    background:none;
    display: block;
    border:none;
    top:50%;
    margin-top:-30px;
    left:0px;
    position: absolute;
    z-index: 99999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
    background-image: url("/images/icon-arrow-back.png");
    overflow: hidden;
    text-indent: -999px;
}
.glide__arrow.next {
    position: absolute;
    right:0px;
    left: auto;
    background-image: url("/images/icon-arrow-forward.png");
}
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    display: none;
}
.pets .glide__bullets, #quick_blog .glide__bullets {
    display: block;
    padding-bottom:20px;
}
#quick_blog .glide__bullets {
    text-align: center;
}
.pets .glide__bullet, #quick_blog .glide__bullet {
    border-radius:50px;
    background-color: #7fc2e5;
    width: 10px;
    height:10px;
    padding:0px;
    border:none;
    overflow: hidden;
    text-indent: -999px;
    margin:0px 4px;
    display: inline-block;
}
 #quick_blog .glide__bullet {
     width: 20px;
    height:20px;
}
.glide__slide .pet a.btn {
    font-size: 1.154rem;
    padding:2px 40px!important;
    display: inline-block;
    font-weight: 700;
    
}
.pets .glide__bullet.active, .pets .glide__bullet:hover, #quick_blog .glide__bullet.active, #quick_blog .glide__bullet:hover {
    background-color: #fab500;
}
.glide--slider .glide__slide {
  float: left;
  clear: none;
}
.glide--carousel.glide--vertical .glide__track {
  overflow: visible;
}
.glide--carousel .glide__slide {
  float: left;
  clear: none;
}
.glide--slideshow .glide__wrapper {
  height: 100%;
}
.glide--slideshow .glide__slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px)
}
.glide--slideshow .glide__slide.active {
  z-index: 1;
}

.pet_wrap {
    text-align: center;
    border:2px solid #fff;
    padding-top:20px;
    margin-bottom: 20px!important;
    background-color: #fff;
}
.pet_wrap a.btn {
    max-width: 50%;
    margin:0px auto;
}
.questions p {
    padding-top:0px;
    margin-top:0px;
}
.ohub {
    margin-left:-10px;
    margin-right: -10px;
}
.ohub .inner {
    border:1px solid #653a2b;
    text-align: center;
    margin:10px;
    overflow: hidden;
}

.ohub .c_50 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ohub .inner h5 {
    display: block;
    margin:20px 20px;
    font-size: 1.538rem;
    padding:10px 20px;
    border:2px solid #7fc2e5;
    border-radius:30px;
    text-align: center;
}
.ohub p {
    line-height: 130%;
}
img.placeholder {
    display: block;
    width: 100%;
}
img.placeholder.mobile {
    display: none;
}
.ohub a.btn {
    margin-left:20px;
    margin-right:20px;
    font-size: 1.385rem;
    margin-top:10px;
    margin-bottom: 10px;
}
.pet p {
    font-size: 1.692rem;
    font-weight: 500;
    line-height: 140%;
}
.pet p a {
    font-size: 1rem;
}
.repeater {
    background-color: #69c3e8;
    color: #fff;
}
.repeater h5 {
    border:2px solid #fff!important;
}

.repeater p {
    font-size: 1.692rem;
    margin-bottom: 5px;
    padding-bottom: 0px;
    
}
.repeater p span {
    font-size: 1.385rem;
}
.repeater a {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 30px;
    display: block;
}
.range_header {
    background-color: #69c3e8;
     color: #fff;
    padding:20px;
}
.ranges h5 {
    border:2px solid #fff!important;
    margin:0px!important;
}
.referral {
    background-color: #fab500;
    padding:18px 20px 67px 20px;
    font-size: 1.692rem; 
    color: #fff;
}
.referral p:first-child span {
    color: #653a2b;
    font-weight: 700;
}
.ohub a.btn.blue {
    color: #653a2b!important;
    font-weight: 500;
}
.referral input {
    display: block;
    font-size: 1.385rem;
    text-align: center;
    border:none;
    border-radius:30px;
    padding:10px 20px;
    width: calc(100% - 40px);
}
.referral a {
    color: #fff;
    font-size: 1rem;
}
.referral p:last-child {
    padding:10px 0px;
    margin:0px;
}
.referral p {
    line-height: 130%;
}

.inner_article {
    padding:20px;
    text-align: left;
}
.inner_article h3 {
    font-size: 2rem;
}
.inner_article h3 a {
    font-weight: 500;
}
.ohub .inner_article a.btn {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
.pet_img {
    max-width: 35%;
    border-radius: 150px;
    overflow: hidden;
    border:3px solid #69c3e8;
    margin:0px auto;
}
.pet_img img {
    width:100%;
    display: block;
}
.profile .pet_img {
    max-width: 80%;
}
.profile .flex .flex {
    margin-left:10px;
}
.products {
    background-color: #dfeff8;
}
.products .justify {
    justify-content: center;
}
.products .item {
    text-align: center;
    margin-bottom: 40px;
}
.products .item h2 a {
    font-weight: 900;
    font-size: 1.385rem;
}
.products .item .from {
    font-weight:700;
    font-size: 1.154rem;
}
.recommendations .item h2 a {
    font-size: 1.154rem;
}
.recommendations .item h2 {
    line-height: 100%;
    font-weight: 700;
}
.recommendations {
    padding-top: 100px;
    background-image: url("/images/icon-paw-brown.png");
    background-repeat: no-repeat;
    background-size: auto 40px;
    background-position: center 30px;
}
.products a.btn.white, .profile a.btn.white {
    background-color: #fff;
    max-width: 70%;
    margin:0px auto;
}
.profile a.btn.white {
    max-width: 100%;
    text-align: center;
    margin-top: 25px;
}
.profile a.btn.white:hover {
    background-color: #fab500;
    text-decoration: none;
}
.products a.btn.white:hover {
    background-color: #653a2b;
    color: #fff;
    text-decoration: none;
    border:2px solid #653a2b;
}
.product_img {
    border:2px solid #fff;
    display: block;
    margin-bottom: 20px;
    padding:5px;
    background-color: #fff!important;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.product_img img {
    width: 100%;
    margin:0;
    display: block;
    position: relative;
    z-index: 1;
}
.product_info {
    display: flex;
    position: absolute;
    top:0;
    left:0%;
    z-index: 99;
    background-color: #fff;
    padding:20px;
    width:calc(100% - 40px);
    height:calc(100% - 40px);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.faq_wrap {
    display: block;
    padding:20px 0px;
    border-bottom:1px dashed #ddd;
}
.faq_wrap:last-child {
    border-bottom: none;
}
.faq_wrap h4 {
    display: block;
    padding-right:50px;
    font-size: 1.231rem;
    background-repeat: no-repeat;
    background-size: 45px auto;
    background-position: right center;
    background-image: url("/images/icon-arrow-down.png");
}
.faq_wrap h4.active {
    background-image: url("/images/icon-arrow-up.png");
}
.answer {
    display: none;
}
.faq_wrap:first-child .answer {
    display: block;
}
.error, .empty {
    background-color: #5990ae;
    color: #fff;
}
.empty {
    background-color: #89c0ba;
}
.error .c_33, .empty .c_33 {
    background-image: url("/images/bg-error.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.empty .c_33 {
    background-image: url("/images/bg-empty.jpg");
}
.error .inner, .empty .inner {
    padding:100px;
}
.error a {
    color: #fff;
}
section:not(.product) table a.btn {
    font-size: 0.9231rem!important;
    text-align: center;
    padding:4px 20px!important;
    display: inline-block;
    margin:0px!important;
}
section:not(.product) table a.btn.blue:hover {
    color: #fff!important;
}
section:not(.product) table {
	/*border-collapse:collapse;
	border-spacing:0;*/
	margin-bottom:40px;
	margin-top:40px;
    margin-left:0px;
    margin-right:0px;
	width:calc(100% - 0px); 
	max-width:calc(100% - 0px); 
}
#info td, #info table {
    padding:0px!important;
    border:none!important;
    margin:0px!important;
    width: 100%!important;
}
.orders table {
    margin-left: 0px;
    margin-right: 0px;
}
.auto_repeat table {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
table .repeat {
    font-style: italic;
    font-size: 0.8231rem;
}

/*section:not(.product) table thead th, section:not(.product) table tfoot th {
	background-color:#fff;
	color:#653a2b;
	font-size:1rem;
	padding: 10px 10px 10px 0px;
	position:relative;
	text-align:left;	
}
.orders table th {
    border-top: 1px solid #653a2b;
    border-bottom: 1px solid #653a2b;
}*/
table th.actions {
    width: 25%;
}
section:not(.product) table tbody tr {background-color:#fff;}
/*section:not(.product) table tbody tr:hover {background-color:#efefef; }*/
/*section:not(.product) table th, section:not(.product) table td {
	padding:10px 10px 10px 0px;
	position:relative;
	vertical-align:middle;
    text-align: left;
}
section:not(.product) table td {
    border-bottom: 1px solid #7fc2e5;
}*/
caption {font-size:1.111em; font-weight:300; padding:10px 0;}
.rewards {
    max-width: 85%;
    margin:0px auto;
}
#payment_container {
    background-color: #efefef;
    width: calc(100% - 15px);
    border-radius: 5px;
    padding:20px 30px;
    position: relative;
    z-index: 1;
    border:1px solid #ddd;
}
#loading {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height:100%;
    z-index: 99999;
    background-color: #fff;
    background-image: url("/images/loading-dog.gif");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    display: none;

}
#loading .inner {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height:100%;
    z-index: 99999;
    color: #fff;
}
.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
#payment_container button {
    background-color: #653a2b;
    color: #fff;
    display: block;
    padding:15px 20px;
    border-radius:50px;
    width: 50%;
    margin-top:20px;
    background-image: url("/images/icon-paw.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 25px auto;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 700;
    font-size: 1.231rem;
    border:2px solid #653a2b;
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
#payment_container button:hover {
    background-color: #fab500;
    color: #653a2b;
}
#payment_container a {
    position: absolute;
    bottom: 20px;
    right:30px;
    z-index: 5;
    font-size: 0.8231rem;
    color: #666;
    font-weight: 300;
}
#payment_container label {
    padding:10px 0px 10px 30px;
    display: block;
    background-image: url("/images/icon-secure.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px auto; 
    margin-bottom: 10px;
}
/* Default table */

table {
	border-collapse:collapse;
	border-spacing:0;
	-webkit-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
	   -moz-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
			    box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
	margin-bottom:40px;
	margin-top:.5em;	
	width:100%; 
	max-width:100%;
}
table.account_table {
    margin-left:20px!important;
    margin-right:20px!important;
    width:calc(100% - 40px)!important;
}
table.account_table th {
    background-color: #efefef!important;
    color: #653a2b;text-align: center;
}
table thead tr {border-bottom:3px solid #653a2b; color:#fff;}
table tfoot tr {border-top:3px solid #653a2b;}
table thead th, table tfoot th {
	background-color:#653a2b;;
	color:#fff;
	font-size:.83333em;
	line-height:1.8;
	padding: 15px 10px 13px 10px;
	position:relative;
	text-align:left;
	text-transform:uppercase;	
}
table tbody tr {background-color:#fff;}
table tbody tr:hover {background-color:#eee; color:#000;}
table th, table td {
	border:1px solid #bfbfbf;
	padding:10px 10px;
	position:relative;
	vertical-align:middle;
}
caption {font-size:1.111em; font-weight:300; padding:10px 0;}
meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: calc(30% + 22px);
  height: 6px;
  display: block;
  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
}
meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
}
meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
}
meter[value="2"]::-webkit-meter-optimum-value {
  background: yellow;
}
meter[value="3"]::-webkit-meter-optimum-value {
  background: orange;
}
meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
}
meter[value="1"]::-moz-meter-bar {
  background: red;
}
meter[value="2"]::-moz-meter-bar {
  background: yellow;
}
meter[value="3"]::-moz-meter-bar {
  background: orange;
}
meter[value="4"]::-moz-meter-bar {
  background: green;
}
input#new_password {
    width: calc(30% + 32px);
    border: 2px solid #653a2b;
    padding: 10px 20px;
border-radius: 50px;
}
p.affiliates img {
    height: 44px;
    border:1px solid #ddd;
    border-radius: 5px;
    margin-right:5px;
}
@media (max-width:1024px) {
	table {font-size: .944444em;
	
}
 
.c_15 {
    width: 33% !important;
}

}
@media (max-width:767px) {
	table {font-size: 1em;}
}

 /* Responsive table full */
@media (max-width: 767px) {
	.table-responsive-full {box-shadow:none;}
	.table-responsive-full thead tr, 
	.table-responsive-full tfoot tr {display:none;}
	.table-responsive-full tbody tr {
		-webkit-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
		   -moz-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
				    box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
		margin-bottom:20px;
	}
	.table-responsive-full tbody tr:last-child {margin-bottom:0;}
	.table-responsive-full tr,
	.table-responsive-full td {display:block;}
	.table-responsive-full td {
		background-color:#fff;
		border-top:none;
		position:relative;
		padding-left:50%;
	}
	.table-responsive-full td:hover {background-color:#eee; color:#000;}
	.table-responsive-full td:hover:before {color:hsl(0, 0%, 40%);}
	
	.table-responsive-full td:first-child {
		border-top:1px solid #bfbfbf;
		border-bottom: 3px solid #0085a6;
		border-radius: 4px 4px 0 0;
		color: #000;
		font-size: 1.11111em;
		font-weight: bold;
	}
	.table-responsive-full td:before {
		content: attr(data-label);
		display: inline-block;
		color: hsl(0, 0%, 60%);
		font-size: 14px;
		font-weight: normal;
		margin-left: -100%;
		text-transform: uppercase;
		width: 100%;
		white-space:nowrap;
	}
}
@media (max-width: 360px) {
	.table-responsive-full td {padding-left:14px;}
	.table-responsive-full td:before {display:block; margin-bottom:.5em; margin-left:0;}
}

/*@media (max-width:1024px) {
	table {font-size: .944444em;}
}
@media (max-width:767px) {
	table {font-size: 1em;}
}

 /* Responsive table full 
@media (max-width: 767px) {
	.table-responsive-full {box-shadow:none;}
	.table-responsive-full thead tr, 
	.table-responsive-full tfoot tr {display:none;}
	.table-responsive-full tbody tr {
		-webkit-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
		   -moz-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
				    box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
		margin-bottom:20px;
	}
	.table-responsive-full tbody tr:last-child {margin-bottom:0;}
	.table-responsive-full tr,
	.table-responsive-full td {display:block;}
	.table-responsive-full td {
		background-color:#fff;
		border-top:none;
		position:relative;
		padding-left:50%;
	}
	.table-responsive-full td:hover {background-color:#eee; color:#000;}
	.table-responsive-full td:hover:before {color:hsl(0, 0%, 40%);}
	
	.table-responsive-full td:first-child {
		border-top:1px solid #bfbfbf;
		border-bottom: 3px solid #0085a6;
		border-radius: 4px 4px 0 0;
		color: #000;
		font-size: 1.11111em;
		font-weight: bold;
	}
	.table-responsive-full td:before {
		content: attr(data-label);
		display: block;
		color: hsl(0, 0%, 60%);
		font-size: 14px;
		font-weight: normal;
		margin-left: -100%;
		text-transform: uppercase;
		width: 100%;
		white-space:nowrap;
	}
}
@media (max-width: 360px) {
	.table-responsive-full td {padding-left:14px;}
	.table-responsive-full td:before {display:block; margin-bottom:.5em; margin-left:0;}
}*/ 
/*section:not(.product) table.order_table {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%!important;
    max-width: 100%!important;
    overflow: hidden;
    margin-bottom: 20px;
}
section:not(.product) table.order_table th {
    background-color: #653a2b;
    color: #fff;
    padding:15px 15px;
}
section:not(.product) table.order_table td {
    padding:15px;
    border-bottom:1px solid #653a2b;
}*/
.linethrough {
    color: #999;
    text-decoration: line-through;
}
p.total {
    font-size: 2.231rem;
    font-weight: 900;
    padding:20px 0px 0px 0px;
    margin:0px;
    line-height: 120%;
}
p.total span {
    color: #fab500;
}
.summary {
    margin-top:30px;
}
.help {
    width: calc(100% - 100px);
    padding:20px 20px 20px 60px;
    border:10px solid #efefef;
    background-image:url("/images/icon-paw-brown.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 10px center;
    margin-bottom: 20px;
}
a.btn.check, .guest_check input[name=submit] {
    display: inline-block;
    font-size: 1.692rem;
    padding:20px 50px 20px 60px;
    background-image: url("/images/icon-paw.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 25px auto;
    margin-bottom: 20px;
}
a.btn.check.cancel, a.btn.check.small {
    font-size: 1.231rem;
    padding:10px 30px 10px 60px;
}
.guest_check input[name=submit] {
    border: 2px solid #653a2b;
    background-color: #653a2b;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 900;
}
.guest_check input[name=submit]:hover {
    background-color: #fab500;
    color: #653a2b;
}
img.payments {
    max-width: 30%;
    display: block;
    margin-top:20px;
}
.login_check h1 {
    display: none;
}
.login_check .introduction, .login_check section {
    padding:0px;
    text-align: left;
}
.login_check form[name="login"] .flex {
    justify-content:flex-start;
    max-width: 80%;
    margin: 0px 0px;
}
.login_check form[name="login"] label {
    padding-left: 0px;
}
.login_check {
    border-right: 1px dashed #ddd;
}
.guest_check h4 {
    display: block;
    padding-top:7px;
    font-weight: 700;
}
#delivery_opts {
    display: none;
}
.guest_check label, form[name=proceed] label {
    font-weight: 700;
    display: block;
    padding:7px 0px;
}
.guest_check .flex {
    margin-bottom: 20px;
}
.guest_check input[type=text], .guest_check select, form[name=proceed] input[type=password] {
    border-radius:20px;
    padding:10px;
    display: block;
    border: 1px solid #aaa;
    width: calc(90% - 22px);
    margin-bottom: 10px;
}
.guest_check select {
    width: calc(90%);
}
form[name=proceed] input[type=password] {
    width: 50%;
}
.account_box {
    border:5px solid #efefef;
    border-radius:30px;
    padding:20px 10% 20px 20px;
    margin:20px 0px;
    background-image:url("/images/icon-paw-brown.png");
    background-repeat: no-repeat;
    background-size: 8% auto;
    background-position: 95% 30px;
}

.note {
    padding:20px;
    background-color: #fab500;
    border-radius:30px;
    font-size: 1.538rem;
   /* background-image: url("/images/geoff.jpg");*/
    background-repeat: no-repeat;
    background-position: 95% bottom;
    background-size: auto 100%;
}
.note p {
    padding:0px;
    margin:0px;
    font-weight: 500;
}
.note span {
    font-size: 2rem;
    font-weight: 700;
}
.totals .c_33 {
    font-size: 1.385rem;
}
td.actions img {
    width: 35px;
    display: inline-block;
    margin:0px 5px 0px 0px;
}
form[name=discount] h3, form[name=discount] p {
    padding:0px;
    margin:0px;
}
form[name=discount] h3 {
    margin-top: 30px;
}
form[name=discount] input {
    margin-top:15px;
    display: inline-block;
    padding: 8px 5px;
    border: 1px solid #653a2b;
    border-radius: 30px 0px 0px 30px;
    margin-bottom: 30px;
}
form[name=discount] input[type=submit] {
    background-color: #653a2b;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    border: none;
    padding: 9px 15px;
}
.nav button {
    display: none;
}
#mobile_menu {
    display: none;
}
.new_address {
    margin-top: 11px;
}
.refer_bg {
    background-color: #fdb700; 
    background-image:url(/images/reward-panel.jpg); 
    background-size:contain!important; 
    background-position:right bottom!important;
}
.refer {
    padding:10px 20px;
}
.refer input[type=text], .refer input[type=submit], form[name=remove] input[type=submit] {
    border-radius:30px;
    border:2px solid #653a2b;
    padding:10px 20px;
    width: calc(80% - 40px);
}
.refer input[type=submit], form[name=remove] input[type=submit] {
    background-color: #653a2b;
    color: #fff;
    font-weight: 700;
    padding:5px 10px;
    width: calc(70% - 40px);
}
form[name=remove] input[type=text] {
    padding:10px 20px;
    text-align: center;
    display: block;
    width: 25%;
    margin:10px auto;
}
form[name=remove] input[type=submit] {
    width: 15%;
}
img.paypal {
    max-width: 50%;
}
.form-row img {
    position: absolute;
    right:25px;
    top:23px;
    z-index: 99;
    width: 10%;
}
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
}
#cboxWrapper {
	max-width: none;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#cboxTitle {
	margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}
.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}
.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}
#colorbox, #cboxContent, #cboxLoadedContent {
	
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#cboxOverlay {
	background-color: #000;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}
#colorbox {
	outline: 0;
}
#cboxContent {
	margin-top: 32px;
	overflow: visible;
	background: #fff;
}
.cboxIframe {
	background: #fff;
}
#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}
#cboxLoadedContent {
	background: #fff;
	padding: 1px;
}
#cboxLoadingGraphic {
	background: url(/images/loading.gif) no-repeat center center;
}
#cboxLoadingOverlay {
	background: #fff;
}
#cboxTitle {
	position: absolute;
	top: -22px;
	left: 0;
	color: #fff;
}
#cboxCurrent {
	position: absolute;
	top: -22px;
	right: 205px;
	text-indent: -9999px;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -20px;
	background: url(/images/controls.png) no-repeat 0 0;
}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
	outline: 0;
}
#cboxPrevious {
	background-position: 0px 0px;
	right: 44px;
}
#cboxPrevious:hover {
	background-position: 0px -25px;
}
#cboxNext {
	background-position: -25px 0px;
	right: 22px;
}
#cboxNext:hover {
	background-position: -25px -25px;
}
#cboxClose {
	background-position: -50px 0px;
	right: 0;
	padding: 5px;
	background-color: #fff;
}
#cboxClose:hover {
	background-position: -50px -25px;
}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
	right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
	background-position: -75px -25px;
	right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
	background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
	background-position: -100px 0px;
	right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
	background-position: -75px -25px;
}
@media only screen and (max-width:1024px) {
	
}
@media only screen and (min-width:1024px) {
	
}
	
}
/* Landscape ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
}
/* Portrait ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
}
@media only screen and (max-width:768px) {
	
	.flex.negative.c_75 {
    width: 100%;
}
    .hook {
        font-size: 2rem;
        max-width: 45%;
        margin-left:35%;
    }
    .hook img {
        display: none;
    }
    #banner {
        min-height: 60vh;
        display: block;
        overflow: hidden;
        background-size: 95% auto;
    }
    #banner.half {
        min-height: 10px;
    }
    #banner img.logo {
        max-width: 25%;
        top:15px;
    }
    #banner img.advert {
        display: none;
    }
    #banner img.advert.mobile {
        display: block;
    }
    .nav {
        padding-top:15px;
        top:0px;
    }
    .c_20, .c_25, .c_33, .c_40, .c_50, .c_60, .c_66, .c_30, .c_70, .c_75 {
        width: 100%;
    }
    section, .footer {
        padding:30px 5%;
    }
    .introduction {
        padding:0px;
    }
    .start a {
        margin-bottom: 20px;
        font-size: 1.692rem!important;
    }
    .blue_bg {
        padding-left: 5%;
        padding-right: 5%;
    }
    img.arrow {
        display: none;
    }
    .negative {
        margin-left:0px;
        margin-right:0px;
    }
    .negative .inner {
        margin-left:0px;
        margin-right:0px;
        margin-bottom: 20px;
        height: auto !important;
    }
    h3.subtitle {
        font-size: 1.538rem;
    }
    .hub {
        
    }
    .hub .c_50 p {
        padding:0px;
        font-size: 1.231rem;
    }
    .hub a.btn {
        position: relative;
        display: block;
    }
    .footer img {
        max-width: 90%;
    }
    .footer img.logo {
        max-width: 90%;
    }
    .footer input {
        border-radius:0px;
    }
    .footer input[type=submit]{
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .process input[type="submit"], .process input[type="text"], .process input[type="number"], .process select {
        width: 85%;
    }
    .percentage {
        margin: 0px 5% 30px 5%;
    }
    .justify .c_100 a {
        width: 85% !important;
    }
    .hub .c_50 a.btn {
        position: absolute;
        left: 5%;
        bottom: 10px;
        z-index: 5;
        font-size: 0.9231rem;
        font-weight: 500;
        padding:5px 10px;
    }
    .hub ul {
        font-size: 1rem;
    }
    .hub ul li {
        width: 100%;
    }
    .hub .c_100 .inner {
        background-image: none;
        background-color: #fab500;
    }
    .hub .inner {
        padding: 0;
    }
    .hub h4 {
        font-size: 2.231rem;
        padding-right: 0px;
    }
    .hub h4 span img {
        width: 70px;
        top: -10px;
        left:5px;
    }
    img.placeholder {
        /*display: none;*/
    }
img.placeholder.mobile {
    display: block;
}
    .subnav {
        display: none;
    }
    #mobile_menu .subnav {
        display: block;
        border: none;
        padding:50px 0px 0px 0px;
        text-align: left;
    }
    .subnav ul {
        display: block;
    }
    .subnav li {
        width: 100%;
        flex:1;
    }
    #mobile_menu .subnav ul li {
        font-size: 1.231rem;
        margin-bottom: 5px;
    }
    #mobile_menu .subnav ul {
        width: 100%;
        margin-left: 0%;    
    }
	.nav button {
        display: inline-block;
    }
    .strapline, h3.subtitle {
        font-size: 1.385rem;
    }
    section, .footer {
        padding: 15px 5%;
    }
    .options .opts li a {
        font-size: 1.385rem;
        padding:8px 5px;
    }
    #mobile_menu {
        display: block;
        position: fixed;
        top:0px;
        left:-110vw;
        width: 100%;
        height: 100vh;
        background-color: #fab500;
        z-index: 99999999999;
        -webkit-transition: all 0.5s ease-in-out;
	    -moz-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
    }
    #mobile_menu.active {
        left: 0;
    }
    #mobile_menu #dropdown {
        display: none;
        position: relative;
        z-index: 1;
    }
    #mobile_menu #dropdown2 {
        display: none;
        position: relative;
        z-index: 1;
    }
    #mobile_menu #dropdown3 {
        display: none;
        position: relative;
        z-index: 1;
    }
    #mobile_menu #dropdown4 {
        display: none;
        position: relative;
        z-index: 1;
    }
     
    #mobile_menu::before {
        content: "";
        position: absolute;
        top:0px;
        left:0px;
        height:150px;
        background-color: #7fc2e5;
        z-index: 1;
        width: 100%;
    }
    #mobile_menu a:hover {
        background:none;
        color: #653a2b;
    }
    .menu_inner {
        padding:20px 10%;
        position: relative;
        display: block;
        z-index: 3;
    }
    .menu_inner img {
        height: 100px;
    }
    #mobile_menu .home_button img {
        height: auto!important;
    }
    .menu_inner img.close {
        width: 30px;
        position: absolute;
        right: 20px;
        top:20px;
        z-index: 99;
        height: auto;
    }
    #mobile_menu a {
        padding-left: 0px;
    }
    .quick_contact {
        padding:10px 20px;
        background-color: #653a2b;
          color: #fff;
        margin-bottom: 10px;
        display: none;
    }
    .half .headline {
        padding-top:20px;
    }
    form[name=login] .flex, form[name=password] {
        max-width: 90%;
    }
    .headline h1 {
        font-size: 2.385rem;
    }
    .introduction h1 {
        font-size: 1.692rem;
    }
    #container section.process {
        padding: 150px 5%;
    }
    .process h1 {
        font-size: 2rem;
    }
    .process input[type="text"], .process input[type="number"], .process select {
        font-size: 1.154rem;
    }
    #status {
      width: 350px;
      padding: 20px;
      background-color: #653a2b;
      color: #fff;
      position: fixed;
      top: 50%;
      margin-left: -199px;
      left: 50%;
      margin-top: -60px;
      z-index: 999999999999;
      text-align: center;
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px #888;
      box-shadow: 0 0 5px #888;
        border:4px solid #653a2b;
        border-radius:30px;
    }
    .buttons {
        flex-direction: column-reverse;
    }
    .buttons a {
        margin-bottom: 10px;
    }
    #container p {
        font-size: 1.154rem;
    }
    #loader img {
        width: 100px;
    }
    .cart_wrap span {
        display: none;
    }
    #loader div {
        padding-bottom: 0px;
    }
    .main_img {
        width: 100%;
    }
    .details {
        padding: 20px 0px;
    }
    ul.tabs li {
        flex:none;
        width:100%;
    }
    ul.tabs li a {
        border-radius:0px;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .half .nav {
        padding-top:20px;
    }
    .half .nav ul {
        width: 50%;
        margin-left: 50%;
    }
    #banner.half img.logo {
        height:50px;
    }
    .headline .c_75 {
        width: 90%;
    }
    .headline .start a.btn {
        display: block;
        padding:10px 20px;
    }
    .purchase h5 {
        display: none;
    }
    .saver {
        margin-left:0px;
    }
    .saver p {
        padding:0px;
        margin:0px;
        font-size: 1.231rem;
    }
    form[name="mailing"] {
        width: 100%;
    }
    form[name="mailing"] input[type="submit"] {
        width: 75%;
    }
    .rewards {
        max-width: 100%;
        margin:0px auto;
    }
    .news_item {
        margin-left: 0px;
        margin-right:0px;
    }
    img.mobile {
        display: block;
    }
    img.non_mobile {
        display: none;
    }
}

.inner-img {
    margin: 5px 5px;
    border: solid 1px;
}

/* slider css------------------------------------------------------------------- */

/*-----------------------------------------SAMPLE PANEL  sidebar css start  ------------------------*/
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 250px;
    right: 0;
    background-color: #fab500;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
	border-radius: 15px 0 0 15px;
  }
  
  .sidepanel a {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #653a2b;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    position: fixed;
    top: 300px;
    right: 0px;
    cursor: pointer;
    border: none;
   
  }

  .sidepanel h6{
      font-size: 20px;
  }
  
  
  .sidepanel .side-font {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    color: #653a2b;
    transition: 0.3s;
    width: 80%;

    justify-content: space-around;
  }
 

  .sidepanel .side-font i{
   float: right;
   margin-top: -30px;

  }

  
  .sidepanel .sidebar_addtocart p{
    border: 2px solid #fff;

    border-radius: 50px;
    font-weight: 600;
    width: 80%;
    text-align: center;
  }

  .sidepanel .sidebar_addtocart .sidebar_2text{
    background-color: #653a2b;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  .sidepanel .sidebar_addtocart .sidebar_2text:hover{
    background-color: #fab500;
    color: white;

  }

  .sidepanel .sidebar_addtocart{
    margin-left: 40px;
    padding: 0!important;
  }
  .sidepanel .Bottom_text{
      display: flex;
  }
  .sidepanel .Bottom_text a{
      margin: 5px;
   font-size: 14px;
}
#mySidepanel .side-font .border_underline{
    border-bottom: 2px solid white;
} 


<!----------------------------------------------------------------->
.subnav #dropdown2 {
    position: absolute;
    top:100%;
    left:0px;
    width: 300px;
    z-index: 99;
    background-color: #653a2b;
    color: #fff;
    padding:17px 0px 0px 0px;
    display: none;
}
.subnav #dropdown2 a {
    display: block;
    width: calc(100% - 20px);
    text-align: left;
    padding:7px 10px;
    color: #fff;
}



.subnav #dropdown2 {
    position: absolute;
    top:100%;
    left:0px;
    width: 300px;
    z-index: 99;
    background-color: #653a2b;
    color: #fff;
    padding:17px 0px 0px 0px;
    display: none;
}
.subnav #dropdown2 a {
    display: block;
    width: calc(100% - 20px);
    text-align: left;
    padding:7px 10px;
    color: #fff;
}
.subnav #dropdown2 a:hover {
    background-color: #fab500;
    color: #653a2b;
}
/* <!------------------------------------------------------------------------> */
.subnav #dropdown3 {
    position: absolute;
    top:100%;
    left:0px;
    width: 300px;
    z-index: 99;
    background-color: #653a2b;
    color: #fff;
    padding:17px 0px 0px 0px;
    display: none;
}
.subnav #dropdown3 a {
    display: block;
    width: calc(100% - 20px);
    text-align: left;
    padding:7px 10px;
    color: #fff;
}



.subnav #dropdown3 {
   /* position: absolute;
    top:100%;
    left:0px;
    width: 300px;
    z-index: 99;
    background-color: #653a2b;
    color: #fff;
    padding:17px 0px 0px 0px;
    display: none; */
}
.subnav #dropdown3 a {
    display: block;
    width: calc(100% - 20px);
    text-align: left;
    padding:7px 10px;
    color: #fff;
}
.subnav #dropdown3 a:hover {
    background-color: #fab500;
    color: #653a2b;
}

/*-----------------------------------------------------------------------*/
.subnav #dropdown4 {
    position: absolute;
    top:100%;
    left:0px;
    width: 300px;
    z-index: 99;
    background-color: #653a2b;
    color: #fff;
    padding:17px 0px 0px 0px;
    display: none;
}
.subnav #dropdown4 a {
    display: block;
    width: calc(100% - 20px);
    text-align: left;
    padding:7px 10px;
    color: #fff;
}



.subnav #dropdown4 {
    position: absolute;
    top:100%;
    left:0px;
    width: 300px;
    z-index: 99;
    background-color: #653a2b;
    color: #fff;
    padding:17px 0px 0px 0px;
    display: none;
}
.subnav #dropdown4 a {
    display: block;
    width: calc(100% - 20px);
    text-align: left;
    padding:7px 10px;
    color: #fff;
}
.subnav #dropdown4 a:hover {
    background-color: #fab500;
    color: #653a2b;
}

/* -----------------------------------------new home page------------------------ */
.hub .flex .inner-img{
    padding: 10px;
    border: none;
    }

    .introduction2 h1{
        margin-top: 0!important;
    }
    
    .more_images .c_33 img{
      width: 75%;
      height: 100%;
    }
    
    .image_collection{
        background-color: #daedf7;
        margin-top: 15px;
    }

    /* --------------------------------1st home slider css------------------------------------------------------------------- */
#mixedSlider {
    position: relative;
    padding-left: 40px;
      padding-right: 40px;
     /*width: 87%;*/
    /*height: 580px;*/
  }
  #mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }
  #mixedSlider .MS-content .item {
    display: inline-block;
    width: 50.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
  }
  @media (max-width: 991px) {
    #mixedSlider .MS-content .item {
      width: 50%;
    }
   
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-content .item {
      width: 100%;
    }
   
  }
  #mixedSlider .MS-content .item .imgTitle {
    position: relative;
  }
  #mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  #mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }
  
  #mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }
  #mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 46px;
    top: 250px;
    color: rgba(255, 255, 255, 0.918);
    transition: 0.15s linear;
    cursor: pointer;
  }
  #mixedSlider .MS-controls button:hover {
    color: rgba(104, 50, 19, 0.8);
  }
  @media (max-width: 992px) {
    #mixedSlider .MS-controls button {
      font-size: 30px;
    top: 246px;
      
    }
    
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls button {
      font-size: 30px;
    }
  
  }
  #mixedSlider .MS-controls .MS-left {
    left: 11px;
    
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
      left: 20px;
    }
  }
  #mixedSlider .MS-controls .MS-right {
    right: 0px!important;
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
      right: -10px;
    }
  }
  #basicSlider { position: relative; }
  
  #basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
  }
  
  #basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
  }
  @media (max-width: 991px) {
  
  #basicSlider .MS-content .item { width: 25%; }
  }
  @media (max-width: 767px) {
  
  #basicSlider .MS-content .item { width: 35%; }
  }
  @media (max-width: 500px) {
  
  #basicSlider .MS-content .item { width: 50%; }
  
  }
 
  #basicSlider .MS-controls button { position: absolute; }
  
  #basicSlider .MS-controls .MS-left {
    top: 50px;
    left: 20px;
  }
  
  #basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
  }
  .top-content12{
    position: relative;
  }
  .right-logo1{
    position: absolute;
      top: 17px;
      right: -43px;
  }
  .right-logo1 img{
    width: 110px;
  }

  /* slider internal css start here */


  /* -------------------------------------------------1st Home slider end-------------------------------------------------------------------------------- */


  

  /*-------------------------- 1nd slider css end ----------------------- */
  /* 1st slider image css  */
 #mixedSlider .Slide_content h1{
font-size: 2rem;
 }
 #mixedSlider .top-content12{
     padding: 20px;
 }

 #mixedSlider .Slide_content p{
    font-size: 1vw;
    font-weight: 300;
    line-height: 110% !important;
     }

     #mixedSliderHome1 .slider_button{
         text-align: center;
         font-size: 2rem;
         margin: 15px;
     }
    .bottom_text i {
       color: #fff;
     }
     .bottom_text span{
        color: #fff;
        font-size: 20px;
        align-items: center;
         display: flex;
         padding: 0 20px 0 20px;
      }

      /* media query new slider  */
      @media only screen and (max-width: 600px) {
        #mixedSlider .Slide_content p{
            font-size: 3vw;
             }
             #mixedSlider .Slide_content h1{
                font-size: 2.1rem;
                 }
             .image_collection .top-content12 .right_image img {
               display: none;
            }
            #mixedSliderHome1{
                margin-top: 15px;
            }
    }
/*------------- 2st slider image css--------------  */
     #mixedSliderHome1 .slider_button a{
       background: rgb(109, 8, 8);
       color: #fff;
       padding: 0 20% 0 20%;
       border: 2px solid white ;
       list-style: none;
       border-radius: 20px;
       text-decoration: none;
     

    }
    #mixedSliderHome1 .slider_button a:hover{
      background-color:  #fab600;
      color: white;
    }
    #mixedSliderHome1 .slider_button{
        padding: 5px;
    }
    #mixedSliderHome1{
        background-color: #fab600;
    }
    #mixedSliderHome1 .top-content12 h1{
        font-size: 2rem;
        color: rgb(116, 30, 30);
        
    }
    #mixedSliderHome1 .top-content12 p{
        font-size: 1vw;
        color: #fff;
        color: rgb(116, 30, 30);
        font-weight: 300;
       
    }

    /* ----------------------------------------------------------------------------------------- */
.hub .flex .inner-img{
    padding: 10px;
    }
    
    .more_images .c_33 img{
      width: 75%;
      height: 100%;
    }
    
    .image_collection{
        background-color: #daedf7;
        margin-top: 15px;
    }
    
    .image_collection .top-content12 h1{
        color: #fff;
        font-size: 28px;
        text-align: center;
        padding: 5px;
    }
    .image_collection .top-content12 p{
        color: #fff;
        font-size: 14px;
        text-align: center;
        padding: 0;
    
    }
    
    .image_collection .top-content12 .right_image img{
        width: 139px !important;
    }
    
    #mixedSlider .bottom_text{
        justify-content: center;
        padding: 15px;
    }
    
    /* 2st slider image css end  */


     /* ----------------blog nav and search session start------------------------------------------------ */
 



.topnav {
overflow: hidden;
padding-left: 23px;

}

.topnav ul li a{
float: left;
display: block;
color: #653a2b;
text-align: center;
padding: 8px 20px;
text-decoration: none;
font-size: 17px;
margin-bottom: 5px;
}

.topnav ul{
list-style: none;

}
.topnav a:hover {
background-color: #653a2b;
color: white;
}



.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
float: right;
display: block;

}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav .responsive .icon:hover{
color: rgb(92, 3, 3);
}


.topnav.responsive a {
float: none;
display: block;
text-align: left;
}
.topnav  a:hover {
padding: 10px 40px;

}
}


 /* ----------------blog nav search session end------------------------------------------------ */
 #wrap_search .search {
    width: 100%;
    display: flex;
  }

  #wrap_search .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  #wrap_search .searchTerm:focus{
    color: #00B4CC;
  }

  #wrap_search .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  /*Resize the wrap to see the search bar change!*/
  #wrap_search{
    width: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  /* ------------------------------------category-------------------------------blog----------------- */
  



    @media only screen and (max-width: 600px) {
        .mobileview{
            width: 50%;
        }
        .mobilenav{
            width: 50%;
        }
        .search{
            padding-top: 0px!important;
        }
      }


      /* ------------------------------------------------------------------ */
      #mixedSliderHome {
        position: relative;
        padding-left: 45px;
          padding-right: 45px;
          /*width: 85%;*/
    /*height: 580px;*/
      }
      #mixedSliderHome .MS-content {
        white-space: nowrap;
        overflow: hidden;
        margin: 0 2%;
      }
      #mixedSliderHome .MS-content .item {
        display: inline-block;
        width: 45%;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        height: 100%;
        white-space: normal;
        padding: 0 0px;
      }
      @media (max-width: 991px) {
        #mixedSliderHome .MS-content .item {
          width: 40%;
        }
		#mixedSliderHome {
    position: relative;
    padding-left: 13px;
    padding-right: 13px;
    /* width: 85%; */
    height: 580px;
}
p.home-slider-readmore{
	
	font-size:14px !important;
}
h3.home-slider-title {
    font-size: 14px !important;
}

.middle_image .inner img {
    width: 45% !important;
    height: 45% !important;
    margin: 11px;
}
	  }
	  
	   
	  
      @media (max-width: 767px) {
		  h3.home-slider-title {
    font-size: 16px;
}
		   p.home-slider-readmore{
	
	font-size:18px;
}
        #mixedSliderHome .MS-content .item {
          width: 100%;
        }
      }
      #mixedSliderHome .MS-content .item .imgTitle {
        position: relative;
      }
      #mixedSliderHome .MS-content .item .imgTitle .blogTitle {
        margin: 0;
        text-align: left;
        letter-spacing: 2px;
        color: #252525;
        font-style: italic;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        bottom: 0;
        font-weight: bold;
        padding: 0 0 2px 10px;
      }
      #mixedSliderHome .MS-content .item .imgTitle img {
        
        width: 100%;
      }
      
      #mixedSliderHome .MS-content .item a:hover {
        text-shadow: 0 0 1px grey;
      }
      #mixedSliderHome .MS-controls button {
        position: absolute;
        border: none;
        background-color: transparent;
        outline: 0;
        font-size: 46px;
        top: 250px;
        color: rgba(250, 248, 248, 0.911);
        transition: 0.15s linear;
        cursor: pointer;
      }
      #mixedSliderHome .MS-controls button:hover {
        color: rgba(122, 14, 14, 0.8);
      }
      @media (max-width: 992px) {
        #mixedSliderHome .MS-controls button {
          font-size: 30px;
          top: 246px;
        }
      }
      @media (max-width: 767px) {
        #mixedSliderHome .MS-controls button {
          font-size: 30px;
        }
      }
      #mixedSliderHome .MS-controls .MS-left {
        left: 0px;
      }
      @media (max-width: 767px) {
        #mixedSliderHome .MS-controls .MS-left {
          left: 5px;
        }
      }
      #mixedSliderHome .MS-controls .MS-right {
        right: 0px!important;
      }
      @media (max-width: 767px) {
        #mixedSliderHome .MS-controls .MS-right {
          right: -10px;
        }
      }
      #basicSlider { position: relative; }
      
      #basicSlider .MS-content {
        white-space: nowrap;
        overflow: hidden;
        margin: 0 2%;
        height: 50px;
      }
      
      #basicSlider .MS-content .item {
        display: inline-block;
        width: 20%;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        height: 100%;
        white-space: normal;
        line-height: 50px;
        vertical-align: middle;
      }
      @media (max-width: 991px) {
      
      #basicSlider .MS-content .item { width: 25%; }
      }
      @media (max-width: 767px) {
      
      #basicSlider .MS-content .item { width: 35%; }
      }
      @media (max-width: 500px) {
      
      #basicSlider .MS-content .item { width: 50%; }
      }
      
      
      
      #basicSlider .MS-controls button { position: absolute; }
      
      #basicSlider .MS-controls .MS-left {
        top: 35px;
        left: 10px;
      }
      
      #basicSlider .MS-controls .MS-right {
        top: 35px;
        right: 10px;
      }
      
      
      .top-content12{
        position: relative;
      }
      .right-logo1{
        position: absolute;
          top: 27px;
          right: -43px;
      }
      .right-logo1 img{
        width: 110px;
      }
      
      #mixedSliderHome h2,h3,p{
          /*text-align: center;  */
      }
      
      
      .Slider_one .item .imgTitle .btn{
      padding: 6px 15px;
      border: 2px solid #fff;
      border-radius: 50px;
      font-weight: 900;
      background-color: rgb(90, 19, 19);
      color: white;
      list-style: none;
      text-decoration: none;
      }
      
      .Slider_one .item .imgTitle .btn:hover{
      
          background-color: #fab500;
          color: #653a2b;
      
          }
      
    /* slider -------------------------------------------------- */
     /* 1st slider image css  */
 #mixedSlideroo .Slide_content h1{
    font-size: 2rem;
     }
     #mixedSlideroo .top-content12{
         padding: 20px 20px 21px 20px;

     }
    
     #mixedSlideroo .Slide_content p{
        font-size: 1vw;
        font-weight: 300;
        line-height: 110% !important;
         }
    
         #mixedSliderHome .slider_button{
             text-align: center;
             font-size: 2rem;
             margin: 15px;
         }
        .bottom_text i {
           color: #fff;
         }
         .bottom_text span{
            color: #fff;
            font-size: 20px;
			font-weight: bold;
            align-items: center;
             display: flex;
             padding: 0 20px 0 20px;
          }
    
          /* media query new slider  */
          @media only screen and (max-width: 700px) {
            #mixedSlideroo .Slide_content p{
                font-size: 3vw;
                 }
                 #mixedSlideroo .Slide_content h1{
                    font-size: 2.1rem;
                     }
                 .image_collection .top-content12 .right_image img {
                   display: none;
                }
                #mixedSliderHome{
                    margin-top: 15px;
    position: relative;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    height: 600px;
                }
				#mixedSlider {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    /*width: 78%;*/
    height: 522px;
}
        }
    /*------------- 2st slider image css--------------  */
         #mixedSliderHome .slider_button a{
           background: rgb(109, 8, 8);
           color: #fff;
           padding: 0 20% 0 20%;
           border: 2px solid white ;
           list-style: none;
           border-radius: 20px;
           text-decoration: none;
         
    
        }
        #mixedSliderHome .slider_button a:hover{
          background-color:  #fab600;
          color: white;
        }
        #mixedSliderHome .slider_button{
            padding: 2px 0px 7px 0px;
        }
        #mixedSliderHome{
            background-color: #fab600;
        }
        #mixedSliderHome .top-content12 h1{
            font-size: 2rem;
            color: rgb(116, 30, 30);
            
        }
        #mixedSliderHome .top-content12 p{
            font-size: 1vw;
            color: #fff;
            color: rgb(116, 30, 30);
            font-weight: 300;
           
        }
        /* 2st slider image css end  */
		
     /*    drop down 1 in blog page */
        .topnav nav select-session {
            display: none;
          }
    
    
      @media (max-width: 960px) {
      .topnav  nav ul     {
       display: none;
       }
	   
       .topnav nav select-session { display: inline-block; }
      }
	  
	 
	  /*    Middile Ranges  */
	  
	 .middle_image .inner img{
    width: 30%;
    height: 30%;
	margin: 11px;
  
  }
  .middile-width {
    width: 50%;
}
  h1.centre.middle_heading {
    margin-bottom: 20px;
    margin-top: 20px;
	font-size:22px;
}
  .font_size{
    font-size: 1.3vw;
}

  .middle_image .inner .image_center{
  justify-content: center!important;
  display: flex!important;
  }

  .middle_image .inner h1{
      font-size: 22px;
  text-align: center;
  padding: 0;
    }

 .middle_image .inner  .shop_button:hover{
        
        background-color: #fab500;
        color: white;
    }

    .middle_image .inner  .shop_button{
        background-color: #683a2b;
        text-decoration: none;
        color: white;
    }
  

    .middle_image a.btn{
        font-size:  1.3vw!important;
        font-weight: 900;
    }
	
	.home-slider-left {
    margin-right: 10px;
}
.home-slider-right {
    margin-left: 10px;
}
      @media (max-width: 768px) {
		  .home-slider-left {
    margin-right: 0px;
}
.home-slider-right {
    margin-left: 0px;
}
		  
		  .middle_image .inner img {
    width: 40px !important;
    margin: 11px;
}
.middle_image .inner h1 {
    font-size: 18px;
    text-align: center;
    padding: 0;
}
.middle_image a.btn {
    font-size: 18px !important;
    font-weight: 900;
	margin: 0 15px 0 15px ;
}
.flex.negative.options.more_images {
    text-align: -webkit-center;
}
.c_25.text-center.res-image {
    width: 50%;
}
.flex.c_75.blog-mob {
    width: 100%;
}
      }

       /*------------------------------------------ Blog side images --------------------------------------- */
       .blog_sideimg {
        background-color: #7fc2e5;
        margin: 0px 5px 10px 20px;
        padding-bottom: 35px;
    }
    .white-blog{
        color: white;
    }
    .sideimg_content h1{
        color: white!important;
        font-size: 1.7rem;
        padding-top: 20px;
    }
    .sideimg_content p{
      color: white!important;
      margin-top: 0px;
      margin-bottom: 20px;
  }
    .blog_sideimg .image_blog img{
      width:70%;
  }
  .image_blog {
      margin: 20px;
  }

.blog_sideimg .icon_blog i{
 
  color: white;
  }

.blog_sideimg .icon_sideblock .icon_text{
   font-size: 1.2rem;
  }


.blog_sideimg .arrow_images{
  justify-content: space-around;
  display: flex;
}


.icon_sideblock{
  position: relative;
}

.blog_sideimg .icon_sideblock .arrow_left {
position: absolute;
left: 23px
}

.blog_sideimg .icon_sideblock .arrow_right{
  position: absolute;
  right: 13px
}

@media only screen and (max-width: 1400px) {
	#mixedSliderHome .slider_button{
            padding: 0px 0px 0px 0px !important;
        }
        .topnav ul li a {
            float: left;
            display: block;
            color: #653a2b;
            text-align: center;
            padding: 8px 10px !important;
            text-decoration: none;
            font-size: 17px;
            margin-bottom: 5px;
        }
	
}	
	
	
	@media only screen and (min-width: 768px) {

.blog_sideimg .icon_sideblock .arrow_left {
top: 13px;
    left: 11px;
}

.blog_sideimg .icon_sideblock .arrow_right{

  right: 13px;
  top:16px
}

}

@media only screen and (max-width: 768px) {
    .blog_sideimg .icon_sideblock .arrow_left {
    top: 13px;
        left: 30px;
    }
    
    .blog_sideimg .icon_sideblock .arrow_right{
      right: 30px;
      top:16px
    }
	select#selectval {
    width: 100% !important;
}
.select-session-mob {
    display: block !important;
}
#payment_container button {
    background-color: #653a2b;
    color: #fff;
    display: block;
    padding: 15px 20px;
    border-radius: 50px;
    width: 100%;
    margin-top: 20px;
    background-image: url(/images/icon-paw.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 25px auto;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 700;
    font-size: 1.231rem;
    border: 2px solid #653a2b;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    margin-bottom: 26px;
}
.MoreImage_Gallery .c_33 {
     width: 100% !important;
    padding: 0 20px;
}

}

p.home-slider-readmore {
    font-size: 20px ;
}
h3.home-slider-title {
    font-size: 16px;
}
 .news_item .description {
    padding: 12px;
    background: #fff;
    height: 129px;
}

select#selectval {
    width: 150px ;
}
.select-session-mob {
    display: none;
}
/* come dine with me css start here, images and peragraph change size  */
.come_dine .come_dine_image{
    width: 300px!important;
    height: 290px;
    }
    
    .come_dime_pera p{
        font-weight: 700;
       margin-top: 10px;
    }
    @media screen and (max-width:770px){
        .come_dine .come_dine_image{
            width: 100%!important;
            height: 290px;
            }
            .come_dime_pera p{
               
            }
            
    }
    
    /* come dine with me css end   */

    /*  O-HUB  */

.range_header2 {
    background: #69c3e8;
    height: 200px;
    color: #fff;
}