/*www.oguzhansengul.com*/
    #rcbrandDemo1, #rcbrandDemo2, #rcbrandDemo3 {
    display:none;
    }
    
    .rc-rcbrand-container {
        position:relative;
        max-width:100%;
        margin-bottom: 20px;
    }
    .rc-rcbrand-ul {
        position:relative;
        width:99999px;
        margin:0px;
        padding:0px;
        list-style-type:none;   
        text-align:center;  
        overflow: auto;
    }
   
    .rc-rcbrand-inner {
        position: relative;
        overflow: hidden;
        float:left;
        width:100%;
        background: #ffffff;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px; 
        background-color: #7fc2e5;
    }
    
    .rc-rcbrand-item {
        float:left;
        margin:0px;
        padding:0px;
        cursor:pointer;
        position:relative;
        line-height:0px;
    }
    .rc-rcbrand-item img {
        max-width: 100%;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .rc-rcbrand-nav-left,
    .rc-rcbrand-nav-right {
        padding:5px 10px;
        border-radius:50%;    
        position: absolute;
        cursor: pointer;
        z-index: 4;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(255, 255, 255);     
    }
    
    .rc-rcbrand-nav-left {
        left: -10px;
    }
    
    .rc-rcbrand-nav-left:before {
        content: "<";
        font-size: 40px;
    
    }
    
    .rc-rcbrand-nav-left.disabled {
        opacity: 0.4;
    }
    
    .rc-rcbrand-nav-right {
        right: -10px;    
    }
    
    .rc-rcbrand-nav-right:before {
        content: ">";
        font-size: 40px;
    }
    
    .rc-rcbrand-nav-right.disabled {
        opacity: 0.4;
    }

    .Main_area{
        background-color: #7fc2e5;
        padding:10px;
    }
    .bottom_text{
        text-align: center;
        
    }
    .bottom_text .icon_text{
        color: #ffffff;
        text-align: justify;
        font-size: 1.5rem;
        padding: 10px;
    }
/* slider css------------------------------------------------------------------- */
#mixedSlider {
    position: relative;
    padding-left: 76px;
      padding-right: 76px;
  }
  #mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }
  #mixedSlider .MS-content .item {
    display: inline-block;
    width: 25.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
  }
  @media (max-width: 991px) {
    #mixedSlider .MS-content .item {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-content .item {
      width: 100%;
    }
  }
  #mixedSlider .MS-content .item .imgTitle {
    position: relative;
  }
  #mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  #mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }
  
  #mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }
  #mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
  }
  #mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  @media (max-width: 992px) {
    #mixedSlider .MS-controls button {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls button {
      font-size: 20px;
    }
  }
  #mixedSlider .MS-controls .MS-left {
    left: 22px;
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
      left: -10px;
    }
  }
  #mixedSlider .MS-controls .MS-right {
    right: 22px;
  }
  @media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
      right: -10px;
    }
  }
  #basicSlider { position: relative; }
  
  #basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
  }
  
  #basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
  }
  @media (max-width: 991px) {
  
  #basicSlider .MS-content .item { width: 25%; }
  }
  @media (max-width: 767px) {
  
  #basicSlider .MS-content .item { width: 35%; }
  }
  @media (max-width: 500px) {
  
  #basicSlider .MS-content .item { width: 50%; }
  }
  
  
  
  #basicSlider .MS-controls button { position: absolute; }
  
  #basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
  }
  
  #basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
  }
  .top-content12{
    position: relative;
  }
  .right-logo1{
    position: absolute;
      top: 27px;
      right: -43px;
  }
  .right-logo1 img{
    width: 110px;
  }
<!------------------------------------------------------------------------------>

   