*{
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box
}
/*.show{
   width: 500px;
  height: 500px; 
}*/
/*#show-img { width: 400px; height: 400px; }*/
.small-img{
  /*width: 350px; */
    height: 70px;
    margin-top: 10px;
    position: relative;
    /* left: 25px; */
    /* margin-left: -298px;*/
}
.small-img .icon-left, .small-img .icon-right{
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.small-img .icon-left{
  transform: rotate(180deg)
}
.small-img .icon-right{
  right: 0;
}
.small-img .icon-left:hover, .small-img .icon-right:hover{
  opacity: .5;
}
.small-container{
  /*width: 310px;*/
  /* height: 70px; */
  overflow: hidden;
 /* position: absolute; */
  left: 0;
  right: 0;
  margin: 0 auto;
}
.small-container div{
  width: 100%;
  
}


.small-container .show-small-img:last-of-type{
  margin-right: 0;
}

.image_thumb{
  text-align: center;
  text-align: -webkit-center;

}
@media screen and (max-width:770px){
  /*.show{
    width: 340px;
    height: 390px;
  }*/
  .small-container {
    width: 310px;
    
}
  .image_thumb{
    text-align: center;
    text-align: -webkit-center;
    margin: 0px;
  
  }
  .small-img{
  width: 350px;
  height: 70px;
  margin-top: 10px;
  position: relative;
  left: 25px;
  margin-left: -75px;
}

}

@media (max-width: 1920px) and (min-width:1440px){
  .small-container .show-small-img{
    width: 100px;
    height: 100px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
  }

}

@media (max-width: 1439px) and (min-width:1200px){
  .small-container .show-small-img{
    width: 80px;
    height: 80px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
  }
  #mixedSliderHome {
    background-color: #fab600;
  }
}

@media (max-width: 1199px) and (min-width:991px){
  
  .small-container .show-small-img{
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
  }
}

@media (max-width: 990px) and (min-width:768px){
  .small-container .show-small-img{
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
  }
}

@media (max-width: 767px){
  .small-container .show-small-img{
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
  }
}






/*Bhuvnesh*/
#mixedSlider .top-content12{
  padding-top: 10px;
}
.MoreImage_Gallery{
  align-items: center;
}

.MoreImage_Gallery .c_33 {
  width: 33.333333%;
  padding: 0 20px;
}

.MoreImage_Gallery .c_33 img{
  max-width: 100%;
  height: auto;
  width: auto;
}

#mixedSlider .slider_button {
    text-align: center;
    font-size: 2rem;
    margin:0 15px 15px;
}

#mixedSlider .slider_button a{
  background: rgb(109, 8, 8);
  color: #fff;
  padding: 0 20% 0 20%;
  border: 2px solid white;
  list-style: none;
  border-radius: 20px;
  text-decoration: none;
}

#mixedSlider .slider_button a:hover {
    background-color: #7fc2e5;
    color: white;
}


#mixedSliderHome{
  height: 100%;
}

.HubImages_Slider .c_50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
}

#mixedSlider {
    height: 100%;
}

#mixedSliderHome .MS-content, .news_item{
  margin: 0 1%;
}

#mixedSliderHome .MS-content .item{
  width: 48%;
}

.news_item .description{
  height: 100%;
}

#mixedSliderHome .MS-controls button, #mixedSlider .MS-controls button{
  top: 45%;
}

#mixedSlider .MS-controls .MS-right, #mixedSliderHome .MS-controls .MS-right{
  right: 10px !important;
}
#mixedSliderHome .MS-controls .MS-left, #mixedSlider .MS-controls .MS-left{
  left: 10px !important;
}

.btn.brown.check{
  padding: 20px 50px;
  font-size: 24px;
}

.btn.brown.check.small{
  margin-top: 20px;
}
.flex.negative.ohub .inner{
  min-height: 360px;
}

.flex.negative.ohub .inner a img{
  max-width: 100%;
  width: auto;
  height: auto;
}

@media screen and (max-width:767px){
  .HubImages_Slider .c_50 {
    width: 100%;
    display: block;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  #mixedSliderHome{
    width: 100%;
    height: auto;
  }
  #mixedSliderHome .slider_button{
    padding-bottom: 10px !important;
  }
  .purchase.smaller input[name=submit] {
    width: 140px;
    margin-bottom: 10px;
  }
  div#info p img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  .btn.brown.check {
    padding: 20px 25px 20px 55px;
  }
  .help{
    width: 100%;
  }
  .inner.item h3 {
    margin-bottom: 10px;
  }
  .introduction form[name=login] input[type=text], form[name=login] input[type=password], form[name=password] input[type=text]{
    width: 100%;
  }
  .products a.btn.white, .profile a.btn.white{
    margin-bottom: 15px;
  }
  .table-responsive-full td{
    padding-left: 2%;
  }
}

@media screen and (max-width:1199px){
  .middle_image .inner h1{
    font-size: 19px;
  }
}